{% load static %}

{% for track in user_posts %}
    <div class="track-obj">
        <!--post img-->
        {% if track.post_img.name == '' %}
            <div class="track-post-img" style="background-image: url({% static 'img/default-post-img.png' %}); background-size: unset; background-repeat: no-repeat;"></div>
        {% else %}
            <div class="track-post-img" style="background-image: url({{ track.post_img.url }});"></div>
        {% endif %}
        <!--post img-->
        <div class="track-social-count">
            <div class="item">
                {% if request.user in track.liked.all %}
                    <span id="like-btn-{{ forloop.counter }}" class="like-btn glyphicon glyphicon-heart" data-post-pk="{{ forloop.counter }}" data-url="{% url 'views:post:like' pk=track.pk %}" ></span>
                {% else %}
                    <span id="like-btn-{{ forloop.counter }}" class="like-btn glyphicon glyphicon-heart-empty" data-post-pk="{{ forloop.counter }}" data-url="{% url 'views:post:like' pk=track.pk %}" ></span>
                {% endif %}
                <span id="like-count-{{ forloop.counter }}" class="track-liked">{{ track.liked.count }}</span>
            </div>
            <div class="item">
                <span class="glyphicon glyphicon-music"></span>
                <span class="track-commented">{{ track.comment_tracks.count }}</span>
            </div>

        </div>
        <div class="play-btn-wrapper">
            <div id="play-btn-{{ forloop.counter }}" class="play-btn" onclick="playAudio({{ forloop.counter }});"><i class="fas fa-play-circle fa-3x"></i></div>
        </div>

        <div class="title-author-wrapper">
            <p class="track-title">{{ track.title }}</p>
            <a href="{% url 'views:user:user-detail' pk=track.author.pk %}"><p class="track-author">{{ track.author }}</p></a>
        </div>

        <div class="playtime">
            <span id="playtime-current-{{ forloop.counter }}" class="track-duration-current">00:00</span> |
            <span id="playtime-total-{{ forloop.counter }}" class="track-duration-total">00:00</span>
        </div>

        <!-- waveform -->
        <audio preload="metadata" id="track-audio-{{ forloop.counter }}" class="audio-track" data-src="{{ forloop.counter }}" data-isPlaying="false" onended="resetWaveform({{ forloop.counter }})" onloadedmetadata="setTotalDuration({{ forloop.counter }})">
            <source src="{{ track.author_track.url }}">
        </audio>
        {% if track.author_track_waveform_base.name == '' %}
        {% else %}
            <div id="waveform-wrapper-{{ forloop.counter }}" class="waveform-wrapper" >
                <!--<div class="waveform-loader"></div>-->
                <img id="back-image-{{ forloop.counter }}" class="back-image" data-src="{{ forloop.counter }}" draggable="false" src="{{ track.author_track_waveform_base.url }}" alt="">
                <div id="image-cutter-{{ forloop.counter }}" class="cutter">
                    <img class="cover-image" draggable="false" src="{{ track.author_track_waveform_cover.url }}" alt="">
                </div>
            </div>
        {% endif %}
        <!-- wavform end -->
        <div class="track-genre">
            {% for item in track.genre.all %}
                <span class="track-genre-item">#{{ item }}</span>
            {% endfor %}
        </div>
    </div>


{% endfor %}
{% if user_posts.end_index == user.post_set.count %}
    <div>
        <button class="more-btn">End of Posts</button>
    </div>
{% elif page == 3 %}
    <div>
        <button class="more-btn">View Full List</button>
    </div>
{% elif user_posts.has_next %}
    <div>
        <button onclick="showMoreTracks()" id="show-more-btn" class="more-btn">Show More <i class="fas fa-angle-down" data-fa-transform="right-1 down-1"></i></button>
    </div>
{% else %}
{% endif %}

<script>
    // 초 -> 분:초 로 바꿔주는 함수
    function format_time (duration) {
        var min = parseInt(duration / 60);
        var sec = parseInt(duration % 60);
        if (String(min).length === 1) {
            min = "0" + min
        }
        if (String(sec).length === 1) {
            sec = "0" + sec
        }
        return min + ":" + sec
    }

    // 오디오 총 길이 표시
    function setTotalDuration (id) {
        var audio = document.getElementById('track-audio-' + id);
        var duration_total = document.getElementById('playtime-total-' + id);
        duration_total.innerText = format_time(audio.duration)
    }
</script>


<script src="{% static 'js/profile/post-like.js' %}" ></script>
<script src="{% static 'js/profile/waveform.js' %}"></script>
<script src="{% static 'js/profile/more-btn.js' %}"></script>

