{% load static %}

<!-- if no comment tracks -->
{% if user_comments.count == 0 %}
    <div class="no-post">
        <i class="fas fa-comment-alt fa-3x" style="color: #dddddd"></i>
        <p>No comment tracks to show</p>
        {% if request.user == user %}
            <p>Upload your first comment track now!</p>
        {% endif %}
    </div>
{% else %}
    {% for comment in comments %}
        <div class="track-obj comment-obj" id="comment-{{ comment.pk }}" data-type="comment">
            <audio id="comment-track-{{ comment.pk }}" class="comment-track audio-file" preload="metadata" onloadedmetadata="setCommentTrackTotalDuration(event)" ontimeupdate="updateCommentTrack(event);updatePlayerProgress()" onended="resetWaveform(this)">
                <source src="{{ comment.comment_track.url }}">
            </audio>
            {% if comment.post.post_img.name == "" %}
                <img class="comment-post-img" src="{% static 'img/default-post-img.png' %}">
            {% else %}
                <img class="comment-post-img" src="{{ comment.post.post_img.url }}">
            {% endif %}
            <span class="uploaded-post">
                <span class="comment-post-title">{{ comment.instrument }} Track</span>
                <span class="comment-instrument">Uploaded to <a class="comment-uploaded-post" href="">{{ comment.post.title }}</a> of <a href="{% url 'views:user:user-detail' pk=comment.post.author.pk %}">{{ comment.post.author }}</a></span>
            </span>

            <div class="comment-progress-bar waveform-opacity">
                <div id="comment-play-btn-{{ comment.pk }}" class="comment-play-icon" data-target="comment-track-{{ comment.pk }}" onclick="loadAudio(this);playAudio();updatePlayerPostInfo()">
                    <i class="fas fa-play"></i>
                </div>
                <div class="position-indicator" onclick="seekCommentTrack(event)" onmousemove="preSeekCommentTrack(event)" onmouseleave="resetSeekCommentTrack(event)"></div>
                <div class="progress-bar-base">
                    <div id="progress-bar-preseeker-{{ comment.pk }}" class="progress-bar-preseeker"></div>
                    <div id="progress-bar-cover-{{ comment.pk }}" class="progress-bar-cover">
                        <div class="progress-head"></div>
                    </div>
                </div>
            </div>

            <div class="comment-track-duration">
                <span id="comment-track-current-duration-{{ comment.pk }}" class="comment-track-current-time">00:00</span> |
                <span id="comment-track-total-duration-{{ comment.pk }}" class="comment-track-total-duration">00:00</span>
            </div>

        </div>
    {% endfor %}
    {% if comments.end_index == user.commenttrack_set.count %}
        <div>
            <button class="more-comments-btn more-btn">End of Comments List</button>
        </div>
    {% elif comments.has_next %}
        <div>
            <button onclick="showMoreComments()" id="show-more-btn" class="more-comments-btn more-btn">Show More <i class="fas fa-angle-down" data-fa-transform="right-1 down-1"></i></button>
        </div>
    {% else %}
        <div>
            <button class="more-comments-btn more-btn">View Full List</button>
        </div>
    {% endif %}
{% endif %}

