{% load static %}

<!-- if no comment tracks -->
{% if user_comments.count == 0 %}
    <div class="no-post">
        <i class="fas fa-comment-alt fa-3x" style="color: #dddddd"></i>
        <p>No comment tracks to show</p>
        {% if request.user == user %}
            <p>Upload your first comment track now!</p>
        {% endif %}
    </div>
{% else %}
    {% for comment in comments %}
        <div class="track-obj comment-obj">
            {% if comment.post.post_img.name == "" %}
                <div class="comment-post-img" style="background-image: url({% static 'img/default-post-img.png' %});"></div>
            {% else %}
                <div class="comment-post-img" style="background-image: url({{ comment.post.post_img.url }});"></div>
            {% endif %}
            <span class="uploaded-post">
                <span class="comment-post-title">{{ comment.instrument }} Track</span>
                <span class="comment-instrument">Uploaded to <a href="">{{ comment.post.title }}</a> of <a href="{% url 'views:user:user-detail' pk=comment.post.author.pk %}">{{ comment.post.author }}</a></span>
            </span>

            <audio id="comment-track-{{ comment.pk }}" class="comment-track audio-file" preload="metadata" data-isPlaying="false" data-comment-pk="{{ comment.pk }}" onloadedmetadata="getCommentTrackTotalDuration(event)" ontimeupdate="updateCommentTrack(event)" onended="endCommentTrack(event)">
                <source src="{{ comment.comment_track.url }}">
            </audio>
            <div class="comment-progress-bar waveform-opacity">
                <div id="comment-play-btn-{{ comment.pk }}" class="comment-play-icon" data-comment-pk="{{ comment.pk }}" onclick="playCommentTrack({{ comment.pk }})">
                    <i class="fas fa-play"></i>
                </div>
                <div class="position-indicator" data-comment-pk="{{ comment.pk }}" onclick="seekCommentTrack(event)" onmousemove="preSeekCommentTrack(event)" onmouseleave="resetSeekCommentTrack(event)"></div>
                <div class="progress-bar-base">
                    <div id="progress-bar-preseeker-{{ comment.pk }}" class="progress-bar-preseeker"></div>
                    <div id="progress-bar-cover-{{ comment.pk }}" class="progress-bar-cover">
                        <div class="progress-head"></div>
                    </div>
                </div>
            </div>

            <div class="comment-track-duration">
                <span id="comment-track-current-duration-{{ comment.pk }}">00:00</span> |
                <span id="comment-track-total-duration-{{ comment.pk }}">00:00</span>
            </div>

        </div>
    {% endfor %}
    <div>
        <button class="more-comments-btn more-btn">View Full List</button>
    </div>
{% endif %}

