{% load static %}

<!-- if no comment tracks -->
{% if user_comments.count == 0 %}
    <div class="no-post">
        <i class="fas fa-comment-alt fa-3x" style="color: #dddddd"></i>
        <p>No comment tracks to show</p>
        {% if request.user == user %}
            <p>Upload your first comment track now!</p>
        {% endif %}
    </div>
{% else %}
    {% for comment in comments %}
        <!-- waveform -->
        <audio preload="metadata" id="comment-audio-{{ comment.pk }}" class="audio-track" data-src="{{ comment.pk }}" data-isPlaying="false" ontimeupdate="updateAudioInfo(event)" onended="resetWaveform({{ comment.pk }})" onloadedmetadata="setTotalDuration({{ comment.pk }})">
            <source src="{{ comment.comment_track.url }}">
        </audio>
        {% if comment.comment_track_waveform_base.name == '' %}
        {% else %}
            <div id="waveform-wrapper-{{ comment.pk }}" class="waveform-wrapper" >
                <img id="back-image-{{ comment.pk }}" onclick="updateWaveform(event)" class="back-image" data-src="{{ comment.pk }}" draggable="false" src="{{ comment.comment_track_waveform_base.url }}" alt="">
                <div id="image-cutter-{{ comment.pk }}" class="cutter">
                    <img class="cover-image" draggable="false" src="{{ comment.comment_track_waveform_cover.url }}" alt="">
                </div>
            </div>
        {% endif %}
        <!-- wavform ends -->
    {% endfor %}
{% endif %}