{% load static %}

<div class="follower-list">
    <div class="follower-list-headline">
        <span class="follower-list-icon"><i class="fas fa-user"></i></span>
        <span class="follower-list-title"> Following</span>
        <span class="follower-posts-count">
            <span class="follower-count">{{ user.following.count }} following</span>
        </span>
    </div>
    <div class="follower-list-contents">
        {% if not followings %}
            <div class="no-followers">
                <p class="line1"><i class="fas fa-user"></i></p>
                <p class="line2">Not following anyone</p>
            </div>
        {% else %}
            <div class="followers-list-wrapper">

                {% for following in followings|slice:":7" %}
                    <div class="followers-obj">
                        <a class="follow-hover-up"
                           data-title="{% include 'profile/following-hover-title.html' %}"
                           data-content="{% include 'profile/following-hover-content.html' %}"
                           href="{% url 'views:user:user-detail' pk=following.to_user.pk %}">
                            <div class="follower-profile-img"
                                    {% if following.to_user.profile_img.name == "" %}
                                 style="background-image: url({% static 'img/default-profile.png' %})"
                                    {% else %}
                                 style="background-image: url({{ following.to_user.profile_img.url }})"
                                    {% endif %}></div>
                        </a>
                    </div>
                {% endfor %}

                {% for following in followings|slice:"7:14" %}
                    <div class="followers-obj">
                        <a class="follow-hover-down"
                           data-title="{% include 'profile/following-hover-title.html' %}"
                           data-content="{% include 'profile/following-hover-content.html' %}"
                           href="{% url 'views:user:user-detail' pk=following.to_user.pk %}">
                            <div class="follower-profile-img"
                                    {% if following.to_user.profile_img.name == "" %}
                                 style="background-image: url({% static 'img/default-profile.png' %})"
                                    {% else %}
                                 style="background-image: url({{ following.to_user.profile_img.url }})"
                                    {% endif %}></div>
                        </a>
                    </div>
                {% endfor %}

            </div>
            {% if followings|length == 14 %}
                <div class="view-all-list">
                    <a href="">View All</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>