<p class='follow-popover-content-line1'>{{ follower.from_user.nickname }}</p>
<p class='follow-popover-content-line2'>
    {% if request.user.is_anonymous or request.user == follower.from_user %}
    {% else %}
        <button class='follow-popover-btn' onclick='popoverFollow({{ follower.from_user.pk }})'>
            {% if request.user in follower.from_user.followers.all %}
                Following
            {% else %}
                Follow
            {% endif %}
        </button>
    {% endif %}
</p>
