{% load static %}

<div class="follower-list">
    <div class="follower-list-headline">
        <span class="follower-list-icon"><i class="fas fa-users"></i></span>
        <span class="follower-list-title"> Followers</span>
        <span class="follower-posts-count">
            <span class="follower-count">{{ user.followers.count }} followers</span>
        </span>
    </div>
    <div class="follower-list-contents">
        {% if not followers %}
            <div class="no-followers">
                <p class="line1"><i class="fas fa-users"></i></p>
                <p class="line2">No followers</p>
            </div>
        {% else %}
            <div class="followers-list-wrapper">
                {% for follower in followers|slice:":7" %}
                    <div class="followers-obj">
                        <a class="follow-hover-up"
                           data-title="{% include 'profile/follower-hover-title.html' %}"
                           data-content="{% include 'profile/follower-hover-content.html' %}"
                           href="{% url 'views:user:user-detail' pk=follower.from_user.pk %}">
                            <div class="follower-profile-img"
                                    {% if follower.from_user.profile_img.name == "" %}
                                 style="background-image: url({% static 'img/default-profile.png' %})"
                                    {% else %}
                                 style="background-image: url({{ follower.from_user.profile_img.url }})"
                                    {% endif %}></div>
                        </a>
                    </div>
                {% endfor %}
                {% for follower in followers|slice:"7:14" %}
                    <div class="followers-obj">
                        <a class="follow-hover-down"
                           data-title="{% include 'profile/follower-hover-title.html' %}"
                           data-content="{% include 'profile/follower-hover-content.html' %}"
                           href="{% url 'views:user:user-detail' pk=follower.from_user.pk %}">
                            <div class="follower-profile-img"
                                    {% if follower.from_user.profile_img.name == "" %}
                                 style="background-image: url({% static 'img/default-profile.png' %})"
                                    {% else %}
                                 style="background-image: url({{ follower.from_user.profile_img.url }})"
                                    {% endif %}></div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% if followers|length == 14 %}
                <div class="view-all-list">
                    <a href="">View All</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>