{% extends 'base.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock links %}
{% block scripts %}
{% endblock scripts %}

{% block content %}
<div class="profile-content container contents">
    <div class="profile-head" style="background-image: url({% static 'img/default-profile-cover.jpg' %})">
        <div class="user-info">
            {% if user.profile_img.name == '' %}
            <div class="profile-img img-circle" style="background-image: url('/static/img/default-profile.png')"></div>
            {% else %}
            <div class="profile-img img-circle" style="background-image: url('{{ user.profile_img.url }}')"></div>
            {% endif %}
            <div class="username-info">
                <h2 class="nickname">{{ user.nickname }}</h2>
                <span class="email">{{ user.email }}</span>
            </div>
            <div class="social-info">
                <div class="social-count" >
                    <p class="social-count-title">Total Likes</p>
                    <p class="social-count-num">{{ user.total_liked }}</p>
                </div>
                <div class="social-count" >
                    <p class="social-count-title">Following</p>
                    <p class="social-count-num">{{ user.following.count }}</p>
                </div>
                <div class="social-count" >
                    <p class="social-count-title">Followers</p>
                    <p class="social-count-num">{{ user.followers.count }}</p>
                </div>
            </div>
        </div>
        {% if user == request.user %}
        {% else %}
        {% csrf_token %}
        <button id="follow-btn">
            Follow
        </button>
        {% endif %}
    </div>
    <div class="profile-body">
        <h1></h1>
    </div>
</div>

<script>
    // 페이지 로딩이 끝난 후 함수 실행
    $(document).ready(function() {
        // follow-btn 을 클릭했을 때 follow 함수 실행
        document.getElementById("follow-btn").onclick = function() {
            follow();
        };

        get_follow_status();

        function get_follow_status() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.responseText === "True") {
                    document.getElementById("follow-btn").innerHTML = "Following";
                }
                else {
                    document.getElementById("follow-btn").innerHTML = "Follow";
                }
            };
            xhttp.open("GET", "{% url 'views:user:follow' pk=user.pk %}", true);
            xhttp.send()
        }

        // follow 함수
        function follow() {
            // 새로운 HttpRequest 객체 생성
            var xhttp = new XMLHttpRequest();
            // CSRF 토큰 가져와 변수에 저장
            var csrf_token = $('[name=csrfmiddlewaretoken]').val();
            // readyState가 변할 때 마다 실행할 함수 설정
            xhttp.onreadystatechange = function() {
                // 요청의 readyState가 4(complete) 이고 요청 결과의 status code가 201인 경우 함수 실행
                if (this.readyState === 4) {
                    if (this.status === 201) {
                        // 버튼의 텍스트를 Following으로 변경
                        document.getElementById("follow-btn").innerHTML = "Following";
                    }
                    else if (this.status === 204) {
                        // 버튼의 텍스트를 Follow로 변경
                        document.getElementById("follow-btn").innerHTML = "Follow";
                    }
                }
            };

            // /user/pk/follow로 POST 요청을 비동기로 보냄
            xhttp.open("POST", "{% url 'views:user:follow' pk=user.pk %}", true);
            // 요청의 헤더에 CSRF 토큰 포함
            xhttp.setRequestHeader('X-CSRFToken', csrf_token);
            // user키의 값으로 요청 보내는 유저 객체 전달
            xhttp.send({"user": "{{ request.user }}"});
        }
    });
</script>
{% endblock content %}