<div class="audio-player">
    <audio id="test-audio" src=""></audio>
    <button id="player-play-1" onclick="loadaudio(1);playcurrent()" data-src="/temp/user_1/Post_2/comment_tracks/comment_track_7.mp3">load 1</button>
    <button id="player-play-2" onclick="loadaudio(2);playcurrent()" data-src="/temp/user_1/Post_3/comment_tracks/comment_track_6.mp3">load 2</button>
    <button onclick="playcurrent()">play</button>
</div>
<script>
    function loadaudio(pk) {
        var btn = $("#player-play-" + pk);
        var src = btn.data("src");
        var play_target = $("#test-audio-src");
        play_target.attr("src", src);

        var audio = $("#test-audio");
        audio[0].src = src;
    }

    function playcurrent() {
        var audio = $("#test-audio");

        audio[0].play();
        console.log(audio[0].duration)


    }
</script>