<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div.wrapper {
            width: 500px;
        }
        .wrap {
            position: relative;
            width: 500px;
            height: 133px;
            margin: 0 auto;
        }
        .cutter {
            position: absolute;
            width: 0px;
            height: 100%;
            overflow: hidden;
        }
        img {
            position: absolute;
        }
    </style>
</head>
<body>
<h1>test</h1>
<div class="wrapper">
    <div class="waveform"></div>
    <h3 id="timer"><span id="current">00:00</span>/<span id="total">00:00</span></h3>
    <button id="pause-btn">Play</button>
    <button onclick="console.log(wavesurfer.exportImage(1))" >Image</button>
    <button onclick="console.log(wavesurfer.exportPCM(1024, 1, false, 1))" >PCM</button>
</div>

<audio id="file" src="https://s3.ap-northeast-2.amazonaws.com/che1-soundhub/media/user_1/Post_8/author_track/author_track.mp3"></audio>

<button onclick="audio.play()">Play</button>
<button onclick="audio.pause()">Pause</button>

<div id="container" class="wrap">
    <img draggable="false" src="/home/che1/Projects/Django/django_audiomix/static/img/test.png" alt="">
    <div id="cutter" class="cutter">
        <img draggable="false" src="/home/che1/Projects/Django/django_audiomix/static/img/test2.png" alt="">
    </div>
</div>



<script src="/home/che1/Projects/Django/django_audiomix/static/js/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>

<script>
    // var wavesurfer = WaveSurfer.create({
    //     container: '.waveform',
    //     barWidth: 5,
    //     progressColor: '#E2B026',
    //     cursorColor: 'transparent',
    //     waveColor: '#333533'
    // });
    //
    // wavesurfer.load('https://s3.ap-northeast-2.amazonaws.com/che1-soundhub/media/user_1/Post_8/author_track/author_track.mp3');

    // 웨이브폼을 담고있는 div
    var box = document.getElementById("container");
    // 웨이브폼을 덮어씌워 색을 입혀주는 div
    var cutter = document.getElementById("cutter");
    // 오디오 객체
    var audio = document.getElementById("file");
    // 웨이브폼을 담고있는 div의 가로 길이
    var box_width = document.getElementById('container').offsetWidth;

    // 웨이브폼을 클릭할 경우 getClickPosition 실행
    box.addEventListener('click', getClickPosition, false);
    // box.addEventListener('drag', getClickPosition, false);

    // 웨이브폼을 클릭한 위치로 오디오 탐색
    function getClickPosition(e) {
        // div 내의 클릭 위치를 계산
        var x = e.pageX - box.offsetLeft;
        // 덮어씌우는 div의 길이를 클릭위치만큼의 픽셀로 변경
        cutter.style.width = x + 'px';
        // 클릭 위치를 박스 전체 길이로 나누어서 클릭 위치의 비율 계산
        var percent_position = x / box_width;
        // 오디오 전체 길이에 클릭 위치 비율을 곱해서 같은 비율의 오디오 재생 위치 계산
        var rel_duration = audio.duration * percent_position;
        // 계산한 상대 위치를 오디오 현재 위치로 지정
        audio.currentTime = rel_duration
    }

    // 오디오 재생시 웨이브폼 업데이트
    // timeupdate 리스너를 등록해서 지속적인 이벤트 발생 캐치
    audio.addEventListener('timeupdate', getCurrentTime, false);

    // timeupdate 이벤트 발생시 웨이브폼을 업데이트 해주는 함수
    function getCurrentTime(e) {
        // 현재 오디오 재생 위치의 비율 값을 계산
        var re_current = audio.currentTime / audio.duration;
        // 계산한 비율을 div의 전체 넓이에 곱해서 구해진 비례 넓이를 덮는 div의 넓이로 설정
        cutter.style.width = (box_width * re_current) +'px'
    }


    // var el = document.getElementById("pause-btn");
    //
    // el.onclick = function() {
    //     if (wavesurfer.isPlaying()) {
    //         this.innerText = "Play";
    //         wavesurfer.pause()
    //     }
    //     else {
    //         this.innerText = "Pause";
    //         wavesurfer.play()
    //     }
    // };
    //
    // wavesurfer.on('ready', function() {
    //     var total = parseInt(wavesurfer.getDuration());
    //     var min = parseInt(total/60);
    //     var sec = parseInt(total%60);
    //     document.getElementById("total").innerText = min + ":" + sec;
    // });
    // wavesurfer.on('audioprocess', function() {
    //     var current = parseInt(wavesurfer.getCurrentTime());
    //     var min = parseInt(current/60);
    //     var sec = parseInt(current%60);
    //     if (String(sec).length === 1) {
    //         sec = "0" + sec
    //     }
    //     document.getElementById("current").innerText = min + ":" + sec;
    // })

</script>




</body>
</html>

