<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div.wrapper {
            width: 500px;
        }
        .wrap {
            position: relative;
            width: 500px;
            height: 133px;
            margin: 0 auto;
        }
        .cutter {
            position: absolute;
            width: 183px;
            height: 100%;
            overflow: hidden;
        }
        img {
            position: absolute;
        }
    </style>
</head>
<body>
<h1>test</h1>
<div class="wrapper">
    <div class="waveform"></div>
    <h3 id="timer"><span id="current">00:00</span>/<span id="total">00:00</span></h3>
    <button id="pause-btn">Play</button>
    <button onclick="console.log(wavesurfer.exportImage(1))" >Image</button>
    <button onclick="console.log(wavesurfer.exportPCM(1024, 1, false, 1))" >PCM</button>
</div>

<div id="container" class="wrap">
    <img src="/home/che1/Projects/Django/django_audiomix/static/img/test.png" alt="">
    <div class="cutter">
        <img src="/home/che1/Projects/Django/django_audiomix/static/img/test2.png" alt="">
    </div>
</div>



<script src="/home/che1/Projects/Django/django_audiomix/static/js/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>

<script>
    var wavesurfer = WaveSurfer.create({
        container: '.waveform',
        barWidth: 5,
        progressColor: '#E2B026',
        cursorColor: 'transparent',
        waveColor: '#333533'
    });

    wavesurfer.load('https://s3.ap-northeast-2.amazonaws.com/che1-soundhub/media/user_1/Post_8/author_track/author_track.mp3');

    var box = document.getElementById("container");

    box.addEventListener('click', getClickPosition, false);

    function getClickPosition(e) {
        var x = e.pageX - box.offsetLeft;
        console.log(x)
    }

    // var el = document.getElementById("pause-btn");
    //
    // el.onclick = function() {
    //     if (wavesurfer.isPlaying()) {
    //         this.innerText = "Play";
    //         wavesurfer.pause()
    //     }
    //     else {
    //         this.innerText = "Pause";
    //         wavesurfer.play()
    //     }
    // };
    //
    // wavesurfer.on('ready', function() {
    //     var total = parseInt(wavesurfer.getDuration());
    //     var min = parseInt(total/60);
    //     var sec = parseInt(total%60);
    //     document.getElementById("total").innerText = min + ":" + sec;
    // });
    // wavesurfer.on('audioprocess', function() {
    //     var current = parseInt(wavesurfer.getCurrentTime());
    //     var min = parseInt(current/60);
    //     var sec = parseInt(current%60);
    //     if (String(sec).length === 1) {
    //         sec = "0" + sec
    //     }
    //     document.getElementById("current").innerText = min + ":" + sec;
    // })

</script>




</body>
</html>

