{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block links %}
<link rel="stylesheet" href="{% sass_src 'css/signup.scss' %}">
{% endblock links %}
{% block scripts %}
{% endblock scripts %}

{% block content %}
<div class="background">
    <div class="mask"></div>
    <form action="{% url 'views:user:sign-up' %}" method="post">
        <div class="signup-body contents container">
            {% include 'sign/terms-of-use.html' %}
            <div class="signup-box">
                <h1 class="signup-title">Create Account</h1>

                {% csrf_token %}

                {% for field in sign_up %}
                {{ field }}
                {% endfor %}
                <!--<input type="submit" value="Sign up">-->
            </div>
        </div>
    </form>
</div>

{% endblock content %}