{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block links %}
<link rel="stylesheet" href="{% sass_src 'css/signin.scss' %}">
{% endblock links %}
{% block scripts %}
{% endblock scripts %}

{% block content %}
<div class="background">
    <div class="contents container">
        <div class="signin-body">
            <h2 class="signin-title">
                Sign in
            </h2>
            <div class="signin-form">
                <form action="{% url 'views:user:sign-in' %}" method="post">
                    {% csrf_token %}
                    {% for field in sign_in %}
                    {{ field }}
                    {% endfor %}
                    {% if sign_in.non_field_errors %}
                    {% for error in sign_in.non_field_errors %}
                    <p class="error-msg">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    <input class="signin-btn transition" type="submit" value="Sign in">
                </form>
                <div class="border">
                    <h3>or continue with</h3>
                </div>
                <div class="social-wrapper">
                    <a href="https://www.facebook.com/v2.11/dialog/oauth?client_id=188997225020523
                        &scope=user_friends,email,public_profile
                        &redirect_uri={{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'views:user:fb-login' %}">
                        <img class="fb-btn" src="{% static 'img/facebook.png' %}" alt="">
                        <span class="fb-text">Facebook</span>
                    </a>
                    <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=profile email openid&access_type=offline&include_granted_scopes=true&state=state_parameter_passthrough_value&redirect_uri={{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'views:user:google-login' %}&response_type=code&client_id={{ google_client_id }}">
                        <img class="gg-btn" src="{% static 'img/google.png' %}" alt=""><span class="fb-text">Google</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}