{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block links %}
<link rel="stylesheet" href="{% sass_src 'css/signup.scss' %}">
<link rel="stylesheet" href="{% static 'css/swiper/swiper.css' %}">
{% endblock links %}
{% block scripts %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock scripts %}

{% block content %}
<div class="background">
    <div class="mask"></div>
    <!-- Indicators -->

    <form action="{% url 'views:user:sign-up' %}" method="post">
        <div class="signup-body contents container">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    <li id="first-slide" data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li id="last-slide" data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="signup-box signup-index">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <a class="swiper-slide" href="https://www.facebook.com/v2.11/dialog/oauth?client_id=188997225020523
                                    &scope=user_friends,email,public_profile
                                    &redirect_uri={{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'views:user:fb-login' %}">
                                        <div class="swiper-slide" style="background-image:url('/static/img/facebook.png')"></div>
                                    </a>
                                    <div class="swiper-slide" style="background-image:url('/static/img/google.png')"></div>
                                    <div class="swiper-slide" style="background-image:url('/static/img/soundhub-logo.png')"></div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        {% include 'sign/terms-of-use.html' %}
                        <div class="signup-box">
                            <h1 class="signup-title">Create Account</h1>
                            {% csrf_token %}
                            {% for field in required %}
                            {{ field }}
                            {% endfor %}
                            {{ non_field_errors }}
                        </div>
                    </div>
                    <div class="item">
                        <div class="signup-box more-info">
                            <h1 class="signup-title">More Information</h1>
                            <div class="select-wrapper">
                                <div class="genre select-box">
                                    <h3>Choose Your Favorite Genre</h3>
                                    <div class="choices">
                                        {% for choice in genre %}

                                        {{ choice.tag }}
                                        <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="instrument select-box">
                                    <h3>Choose Your Instrument</h3>
                                    <div class="choices">
                                        {% for choice in instrument %}

                                        {{ choice.tag }}
                                        <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                                        {% endfor %}
                                        <input type="submit" value="Sign up">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Controls -->
    <a id="prev-btn" onclick="setTimeout(function(){hideBtn()}, 500)" class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a id="next-btn" onclick="setTimeout(function(){hideBtn()}, 500)" class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<script src="{% static 'js/swiper/swiper.min.js' %}"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows : true,
        },
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>
{% endblock content %}