<div class="terms-of-use">
    <h1 class="tou-title">SoundHub Terms of Use</h1>
    <div class="tou-body">
        <p>Welcome to SoundHub®, a service provided by SoundHub Limited (“SoundHub”, “we” “our”, or “us”).</p>

        <p>These Terms of Use govern your use of SoundHub.com and m.SoundHub.com (together, the “Website”), our mobile and desktop apps (our "Apps") and all related players, widgets, tools, applications, data, software, APIs (which may also be subject to separate API Terms of Use) and other services provided by SoundHub (the “Services”).</p>

        <p>These Terms of Use, together with our Privacy Policy, Cookies Policy, Community Guidelines and any other terms specifically referred to in any of those documents, constitute a legally binding agreement (the “Agreement”) between you and SoundHub in relation to your use of the Website, Apps and Services (together, the “Platform”).</p>

        <p>These Terms of Use are divided into the following sections:</p>
        <ul>
            <li>Acceptance of Terms of Use Basically, by using SoundHub® you accept our Terms of Use, Privacy Policy, Cookies Policy and Community Guidelines and agree to abide by them.</li>

            <li>Changes to Terms of Use This section explains that our terms of Use may change from time to time.</li>

            <li>Description of the Platform This provides a general description of the Platform, its features and functionality.</li>

            <li>Your SoundHub account This section explains your responsibilities should you choose to register for a SoundHub® account.</li>

            <li>Your Use of the platform This section sets out your right to use the Platform, and the conditions that apply to your use of the Platform.</li>

            <li>Your content This section deals with ownership of your content, and includes your agreement not to upload anything that infringes on anyone else’s rights.</li>

            <li>Grant of license This section explains how your content will be used on SoundHub® and the permissions that you grant by uploading your content - for example, the right for other users to listen to your sounds.</li>

            <li>Representations and warranties This section includes important promises and guarantees that you give when uploading content to SoundHub® - in particular, your promise that everything you upload and share is owned by you and won’t infringe anyone else’s rights.</li>

            <li>Liability for content This section explains that SoundHub is a hosting service and that its users are solely liable for material that they upload to SoundHub®.</li>

            <li>Reporting infringements This section explains how to notify us of any content on SoundHub® that you believe infringes your copyright or any other intellectual property right, or that is unlawful, abusive, defamatory or otherwise contrary to our Terms of Use or Community Guidelines. You can find further information on reporting copyright infringement on our Copyright Information pages.</li>

            <li>Third party websites and services Through SoundHub® you may have access to other websites and services. This section explains that these are separate third party services that are not under the control of SoundHub.</li>

            <li>Blocking and removal of content This section makes it clear that SoundHub may block or remove content from the Platform.</li>

            <li>Repeat infringers Users who repeatedly infringe third party rights or breach our Terms of Use or Community Guidelines risk having their SoundHub® accounts suspended or terminated, as explained in this section.</li>

            <li>Disclaimer This section explains that SoundHub® cannot give any guarantees that the Platform will always be available – sometimes even a platform as awesome as ours will have a few problems.</li>

            <li>Limitation of liability This section explains some of those things that SoundHub will not be liable for. Please make sure you read and understand this section.</li>

            <li>Indemnification If you use the Platform in a way that results in damage to us, you will need to take responsibility for that.</li>

            <li>Data protection, privacy and cookies It is really important to us that you understand how we use your personal information. All information is collected, stored and used in accordance with our Privacy Policy, so please make sure that you read and understand that policy. Like most other websites, we also use cookies to help us analyze how people use SoundHub, so that we can keep improving our service. Our use of cookies is explained in our Cookies Policy. Please note: if you choose not to disable cookies within your browser, you will be indicating your consent to our use of cookies as described in our Cookies Policy, so please make sure that you read the policy carefully.</li>

            <li>Meetups This section deals with SoundHub® meetups and explains that these are not “official’ SoundHub events, so we cannot be responsible for anything that happens at meetups.</li>

            <li>Competitions and other promotions This section deals with competitions, contests and sweepstakes on SoundHub®. These are not run by SoundHub, and therefore we cannot be responsible for them. If you want to run your own competition on SoundHub, make sure you read and understand our Competition Terms.</li>

            <li>Use of SoundHub players and widget This section includes a few restrictions on how you can use our players and widgets – basically, don’t try to use our players to create a new music or audio streaming service.</li>

            <li>Subscriptions and gift codes This section links you to information explaining how to purchase "Pro" and "Pro Unlimited" plans and "SoundHub Go" subscriptions as well as gift codes and how you can cancel your purchases in certain circumstances.</li>

            <li>Changes to the Platform, accounts and pricing From time to time, we may need to make some changes to SoundHub®. This section explains your rights in this situation.</li>

            <li>Termination This section explains how you can terminate your SoundHub® account, and the grounds on which we can terminate your use of SoundHub®.</li>

            <li>Assignment to third parties This section deals with SoundHub’s right to transfer this agreement to someone else.</li>

            <li>Severability This is a standard legal provision, which says that any term that is not valid will be removed from the agreement without affecting the validity of the rest of the agreement.</li>

            <li>Entire agreement Your use of SoundHub® is governed by these Terms of Use, our Privacy Policy, Cookies Policy and Community Guidelines. Any changes need to be made in writing.</li>

            <li>Third party rights These Terms of Use apply to the relationship between you and SoundHub only.</li>

            <li>Applicable law and jurisdiction All of our documents are generally governed by German law.</li>

            <li>Disclosures This section provides information about SoundHub, including how to contact us.</li>
        </ul>
    </div>
</div>