{% load static %}
{% load sass_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% sass_src 'css/home.scss' %}">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather+Sans|Catamaran" rel="stylesheet">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <title>SoundHub</title>
</head>
<body>
<div id="header" class="header container">
    <div id="wrapper" class="wrapper">
        <a href="/"><img id="title-logo" class="title-logo" src="{% static 'img/logo.png' %}" alt=""></a>
        <div class="btn-wrapper">
            <div class="current-user">{{ request.user }}</div>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn"></button>
                <div id="myDropdown" class="dropdown-content" >
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <form class="signout-form" action="{% url 'views:user:sign-out' %}" method="post">
                        {% csrf_token %}
                        <img class="signout-img" src="{% static 'img/signout.png' %}" alt="">
                        <input class="signout-btn" type="submit" value="Sign out">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>