.mixer {
  position: fixed;
  top: 25%;
  right: 50%;
  background-color: #333533;
  z-index: 10; }

.channel {
  width: 100px;
  height: 500px; }
  .channel .channel-wrapper {
    position: relative;
    width: 70px;
    height: 450px;
    margin: 0 auto;
    top: 25px;
    padding: 3px;
    box-sizing: content-box;
    background-color: #3c3c3c;
    box-shadow: inset 0 0 20px -8px black; }
    .channel .channel-wrapper .mute-solo button {
      background-color: grey;
      width: 35px;
      border: 0;
      padding: 0;
      height: 35px;
      box-sizing: content-box; }
    .channel .channel-wrapper .mute-solo .mute {
      float: left; }
    .channel .channel-wrapper .panner {
      width: 60px;
      height: 7px;
      background-color: #242424;
      position: relative;
      left: calc(50% - 60px/2);
      top: 15px; }
      .channel .channel-wrapper .panner .pan-slider {
        width: 7px;
        height: 24px;
        background-color: #ddd;
        position: absolute;
        top: -8px;
        left: 26px;
        border-radius: 3px; }
    .channel .channel-wrapper .meter {
      width: 10px;
      height: 300px;
      background-color: #242424;
      left: calc(50% - 10px/2);
      position: absolute;
      bottom: 60px; }
      .channel .channel-wrapper .meter .fader {
        width: 30px;
        height: 50px;
        background-color: #ddd;
        position: absolute;
        left: -10px;
        top: 250px;
        border-radius: 3px; }
    .channel .channel-wrapper .channel-info {
      width: 100%;
      height: 40px;
      background-color: #242424;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center; }
