{% load static %}

<div class="pop-posts post-list slide slide-fade" style="background-image: url({% static 'img/crowd.jpg' %});">
    <div class="obj-wrapper">
        <div class="post-obj title">
            <h2 class="pop-posts-title">Popular<br>Posts</h2>
            <span class="pop-posts-p">Check out some of the most popular tracks in SoundHub community!</span>
        </div>
        {% for post in pop_posts %}
            <div class="post-obj" id="track-{{ post.pk }}" data-pk="{{ post.pk }}" data-type="track">
                <audio preload="metadata" id="track-audio-{{ post.pk }}" class="post-track audio-file" data-target="track-{{ post.pk }}" onplay="addToPlaylist(this)" ontimeupdate="updateAudioInfo(this);updatePlayerProgress(this)" onended="resetWaveform(this)" onloadedmetadata="setTotalDuration(this)">
                    <source src="{{ post.author_track.url }}">
                </audio>
                <div class="post-img-wrapper">
                    {% if post.post_img.name == '' %}
                        <img class="track-post-img" src="{% static 'img/default-post-img.png' %}">
                    {% else %}
                        <img class="track-post-img" src="{{ post.post_img.url }}">
                    {% endif %}
                    <div class="post-img-mask"></div>
                    <div class="play-icon-wrapper">
                        <button class="play-btn" data-target="track-audio-{{ post.pk }}" onclick="loadAudio(this);playAudio();updatePlayerPostInfo()"><i class="fas fa-play-circle fa-3x"></i></button>
                    </div>
                </div>
                <p class="track-title">{{ post.title|truncatechars:30 }}</p>
                <a href="{% url 'views:user:user-detail' pk=post.author.pk %}"><p class="track-author">{{ post.author }}</p></a>
            </div>
        {% endfor %}
        <div class="post-obj">
            <h3 class="pop-posts-title"><a href="">More<br>Popular Posts...</a></h3>
        </div>
    </div>
</div>