{% load static %}

<div class="recent-posts post-list slide slide-fade" style="background-image: url({% static 'img/recent-posts.jpg' %});">
    <div class="obj-wrapper">
        {% for post in recent_posts|slice:":2" %}
        <div class="post-obj">
            {% if post.post_img.name == '' %}
            <div class="post-img" style="background-image: url({% static 'img/default-post-img.png' %}); background-size:unset;"></div>
            {% else %}
            <div class="post-img" style="background-image: url('{{ post.post_img.url }}')"></div>
            {% endif %}
            <p class="post-title">{{ post.title|truncatechars:30 }}</p>
            <a href="{% url 'views:user:user-detail' pk=post.author.pk %}"><p class="post-author">{{ post.author }}</p></a>
        </div>
        {% endfor %}
        <div class="post-obj title">
            <h2 class="pop-posts-title">Recent<br>Posts</h2>
            <span class="pop-posts-p">Check out some of the most recently uploaded tracks in SoundHub community!</span>
        </div>
        {% for post in recent_posts|slice:"2:6" %}
        <div class="post-obj">
            {% if post.post_img.name == '' %}
            <div class="post-img" style="background-image: url({% static 'img/default-post-img.png' %}); background-size:unset;"></div>
            {% else %}
            <div class="post-img" style="background-image: url('{{ post.post_img.url }}')"></div>
            {% endif %}
            <p class="post-title">{{ post.title|truncatechars:30 }}</p>
            <a href="{% url 'views:user:user-detail' pk=post.author.pk %}"><p class="post-author">{{ post.author }}</p></a>
        </div>
        {% endfor %}
        <div class="post-obj">
            <h3 class="pop-posts-title"><a href="">More<br>Recent Posts...</a></h3>
        </div>
        {% for post in recent_posts|slice:"6:8" %}
        <div class="post-obj">
            {% if post.post_img.name == '' %}
            <div class="post-img" style="background-image: url({% static 'img/default-post-img.png' %}); background-size:unset;"></div>
            {% else %}
            <div class="post-img" style="background-image: url('{{ post.post_img.url }}')"></div>
            {% endif %}
            <p class="post-title">{{ post.title|truncatechars:30 }}</p>
            <a href="{% url 'views:user:user-detail' pk=post.author.pk %}"><p class="post-author">{{ post.author }}</p></a>
        </div>
        {% endfor %}
    </div>
</div>