div.track-obj {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    overflow: hidden;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    position: relative;

    &:hover {
        box-shadow: 0px 0px 4px black;
    }

    div.track-post-img {
        height: 160px;
        width: 160px;
        float: left;
        border: 1px solid #ddd;
        margin: 10px 10px;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
    }

    p {
        margin: 0;
    }
    a {
        display: inline-block;
    }
    div.title-author-wrapper {
        display: inline-block;
        margin-left: 15px;
        position: absolute;
        top: 0;
        left: 240px;

        .track-title {
            margin-top: 7px;
            font-size: 25px;
        }
        .track-author {
            font-size: 18px;
            color: black;
            &:hover {
                font-weight: bold;
            }
        }
    }

    div.play-btn-wrapper {
        position: relative;
        display: inline-block;


        div.play-btn {
            display: block;
            top: 0;
            width: 42px;
            height: 42px;
            margin-top: 18px;
            margin-left: 20px;
            color: #333533;
            transition: 0.2s ease;
            cursor: pointer;

            &:hover {
                color: #E2B026;
            }
        }
    }



    div.track-social-count {
        position: relative;
        top: 10px;
        right: 20px;
        float: right;

        .item {
            margin-right: 3px;
            font-size: 25px;
            display: inline;
            color: #333533;

            .like-btn {
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: #E2B026;
                }
            }

            .glyphicon-heart {
                color: #E2B026;
            }

            span {
                margin: 0 3px;
                vertical-align: middle;
            }
        }
    }
    div.track-genre {
        float: left;
        width: 100%;
        margin: 0 20px;
        margin-bottom: 15px;

        span.track-genre-item {
            font-size: 17px;
            background-color: #333533;
            color: white;
            padding: 0 10px;
            padding-bottom: 2px;
            border-radius: 15px;
        }
    }

    div.playtime {
        position: absolute;
        right: 20px;
        top: 55px;
        font-size: 18px;
        padding: 0 5px;
    }

    div.waveform-wrapper {
        position: relative;
        float: left;
        opacity: 0.5;
        transition: 0.2s;
        top: 30px;
        left: 25px;
        height: 80px;
        width: 600px;

        &:hover {
            opacity: 1;
        }

        img.back-image {
            position: absolute;
            z-index: 0;
            width: 600px;
            height: 80px;
            cursor: pointer;
        }
        div.cutter {
            z-index: 1;
            position: absolute;
            width: 0px;
            height: 100%;
            overflow: hidden;
            pointer-events: none;
        }
        img.cover-image {
            position: absolute;
            width: 600px;
            height: 80px;
        }


    }
}

button.more-btn {
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    background: transparent;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 20px;
    transition: 0.2s;
    &:hover {
        color: #ff0000;
    }
}