div.track-obj {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  position: relative; }
  div.track-obj:hover {
    box-shadow: 0px 0px 4px black; }
  div.track-obj div.track-post-img {
    height: 160px;
    width: 160px;
    float: left;
    border: 1px solid #ddd;
    margin: 10px 10px;
    background-size: cover;
    background-position: center;
    border-radius: 5px; }
  div.track-obj p {
    margin: 0; }
  div.track-obj a {
    display: inline-block; }
  div.track-obj div.title-author-wrapper {
    display: inline-block;
    margin-left: 15px;
    position: absolute;
    top: 0;
    left: 240px; }
    div.track-obj div.title-author-wrapper .track-title {
      margin-top: 7px;
      font-size: 25px; }
    div.track-obj div.title-author-wrapper .track-author {
      font-size: 18px;
      color: black; }
      div.track-obj div.title-author-wrapper .track-author:hover {
        font-weight: bold; }
  div.track-obj div.play-btn-wrapper {
    position: relative;
    display: inline-block; }
    div.track-obj div.play-btn-wrapper div.play-btn {
      display: block;
      top: 0;
      width: 42px;
      height: 42px;
      margin-top: 18px;
      margin-left: 20px;
      color: #333533;
      transition: 0.2s ease;
      cursor: pointer; }
      div.track-obj div.play-btn-wrapper div.play-btn:hover {
        color: #E2B026; }
  div.track-obj div.track-social-count {
    position: relative;
    top: 10px;
    right: 20px;
    float: right; }
    div.track-obj div.track-social-count .item {
      margin-right: 3px;
      font-size: 25px;
      display: inline;
      color: #333533; }
      div.track-obj div.track-social-count .item .like-btn {
        cursor: pointer;
        transition: 0.3s; }
        div.track-obj div.track-social-count .item .like-btn:hover {
          color: #E2B026; }
      div.track-obj div.track-social-count .item .glyphicon-heart {
        color: #E2B026; }
      div.track-obj div.track-social-count .item span {
        margin: 0 3px;
        vertical-align: middle; }
  div.track-obj div.track-genre {
    float: left;
    width: 100%;
    margin: 0 20px;
    margin-bottom: 15px; }
    div.track-obj div.track-genre span.track-genre-item {
      font-size: 17px;
      background-color: #333533;
      color: white;
      padding: 0 10px;
      padding-bottom: 2px;
      border-radius: 15px; }
  div.track-obj div.playtime {
    position: absolute;
    right: 20px;
    top: 55px;
    font-size: 18px;
    padding: 0 5px; }
  div.track-obj div.waveform-wrapper {
    position: relative;
    float: left;
    opacity: 0.5;
    transition: 0.2s;
    top: 30px;
    left: 25px;
    height: 80px;
    width: 600px; }
    div.track-obj div.waveform-wrapper:hover {
      opacity: 1; }
    div.track-obj div.waveform-wrapper img.back-image {
      position: absolute;
      z-index: 0;
      width: 600px;
      height: 80px;
      cursor: pointer; }
    div.track-obj div.waveform-wrapper div.cutter {
      z-index: 1;
      position: absolute;
      width: 0px;
      height: 100%;
      overflow: hidden;
      pointer-events: none; }
    div.track-obj div.waveform-wrapper img.cover-image {
      position: absolute;
      width: 600px;
      height: 80px; }

button.more-btn {
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  background: transparent;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-size: 20px;
  transition: 0.2s; }
  button.more-btn:hover {
    color: #ff0000; }
