/* general starts */

body {
    background-color: #333533;
    color: #E8EDDF;
}

a {
    color: #E8EDDF;
}

a:hover {
    text-decoration: none;
}

.appear {
    display: block !important;
}

.transition {
    transition: 0.1s ease;
}

:focus {
    outline: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

.focused {
    box-shadow: inset 0 0 10px 0 black;
    &:hover {
        box-shadow: inset 0 0 10px 0 black !important;
    }
}

div.contents {
    margin-top: 83px;
}

// Fading animation starts
.slide-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
// Fading animation ends

// message box

#message-box {
    position: fixed;
    top: 109px;
    right: 90px;
    list-style: none;


    &:hover {
        .message-box-close {
            opacity: 0.5;
        }
    }

    li {
        color: black;
        width: 250px;
        height: 60px;
        z-index: 10000;
        background: whitesmoke;
        border: 1px solid #ddd;
        box-shadow: 5px 5px 10px -3px black;
        border-radius: 3px;
        box-sizing: content-box;
        padding: 0;
        margin-bottom: 5px;
    }

    div.message-box-post-img {
        height: 60px;
        width: 60px;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        float: left;
        margin-right: 10px;
    }

    div.message-box-message-body {
        font-size: 13px;
        float: left;
        line-height: 28px;
        width: 150px;
    }
    div.message-box-close {
        float: right;
        width: 28px;
        height: 100%;
        line-height: 60px;
        text-align: center;
        font-size: 20px;
        opacity: 0;
        transition-duration: 0.3s;

        button {
            border: 0;
            padding: 0;
        }
    }
}

/* general ends */

@import "soundhub-player.css";