/* general starts */
@import url(soundhub-player.css);
body {
  background-color: #333533;
  color: #E8EDDF; }

a {
  color: #E8EDDF; }

a:hover {
  text-decoration: none; }

.appear {
  display: block !important; }

.transition {
  transition: 0.1s ease; }

:focus {
  outline: none; }

a:focus {
  outline: none;
  text-decoration: none; }

.focused {
  box-shadow: inset 0 0 10px 0 black; }
  .focused:hover {
    box-shadow: inset 0 0 10px 0 black !important; }

div.contents {
  margin-top: 83px; }

.slide-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

#message-box {
  position: fixed;
  top: 109px;
  right: 90px;
  list-style: none; }
  #message-box:hover .message-box-close {
    opacity: 0.5; }
  #message-box li {
    color: black;
    width: 250px;
    height: 60px;
    z-index: 10000;
    background: whitesmoke;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 10px -3px black;
    border-radius: 3px;
    box-sizing: content-box;
    padding: 0;
    margin-bottom: 5px; }
  #message-box div.message-box-post-img {
    height: 60px;
    width: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    margin-right: 10px; }
  #message-box div.message-box-message-body {
    font-size: 13px;
    float: left;
    line-height: 28px;
    width: 150px; }
  #message-box div.message-box-close {
    float: right;
    width: 28px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    transition-duration: 0.3s; }
    #message-box div.message-box-close button {
      border: 0;
      padding: 0; }

/* general ends */
