div.header {
  font-family: 'Merriweather Sans', sans-serif;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  border-top: 3px solid #E2B026; }

div.header-scrolled {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 3px 2px 20px 0px black; }

div.wrapper {
  margin: 0 auto;
  height: 80px;
  max-width: 1250px; }

div.wrapper-scrolled {
  height: 50px; }

img.title-logo {
  margin: 15px;
  height: 50px;
  float: left; }

img.title-logo-scrolled {
  margin: 8px;
  margin-left: 15px;
  height: 30px; }

div.current-user {
  line-height: 80px;
  display: inline-block; }

div.current-user-scrolled {
  line-height: 47px; }

.btn-wrapper {
  width: 300px;
  float: right;
  font-size: 15px; }

.dropdown {
  display: inline-block;
  height: 77px;
  float: right; }

.dropdown-scrolled {
  height: 47px; }

.dropbtn {
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 100%; }
  .dropbtn:hover {
    box-shadow: 0px 2px 3px 0px black; }

.dropdown-content {
  font-size: 12px;
  display: none;
  text-align: center;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 110px;
  right: 0;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation-name: fade;
  animation-duration: 0.2s; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .dropdown-content a {
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content a:hover {
      background-color: #ddd; }
  .dropdown-content form.signout-form {
    position: relative; }
    .dropdown-content form.signout-form img {
      float: left;
      position: absolute;
      top: 13px;
      z-index: 2;
      left: 14px;
      width: 20px;
      pointer-events: none; }
    .dropdown-content form.signout-form input.signout-btn {
      position: relative;
      z-index: 1;
      height: 41px;
      width: 100%;
      border: 0;
      padding-left: 25px;
      padding-right: 0;
      float: right;
      background: white;
      color: black; }
      .dropdown-content form.signout-form input.signout-btn:hover {
        background-color: #ddd; }

div.header-buttons {
  margin-right: 15px;
  float: right;
  vertical-align: middle;
  height: 80px;
  font-family: 'Merriweather Sans', sans-serif; }

div.header-buttons-scrolled {
  height: 50px; }

a.signin-btn {
  margin: 20px 0;
  margin-right: 10px;
  background: transparent;
  border: 1px solid #E8EDDF;
  border-radius: 3px;
  padding: 7px;
  text-align: center;
  vertical-align: middle;
  transition-duration: 0.1s; }
  a.signin-btn:hover {
    background-color: #E8EDDF;
    color: #333533;
    transition-duration: 0.1s; }

a.signup-btn {
  line-height: 78px;
  margin: 20px 0;
  background: #E2B026;
  color: #333533;
  border: 1px solid #E2B026;
  border-radius: 3px;
  padding: 7px;
  text-align: center;
  vertical-align: middle; }

a.signup-btn-scrolled {
  line-height: 48px; }
