/* general starts */
body {
  background-color: #333533;
  color: #E8EDDF; }

a {
  color: #E8EDDF; }

a:hover {
  text-decoration: none; }

.transition {
  transition: 0.2s ease; }

.appear {
  display: block !important; }

div.header {
  font-family: 'Merriweather Sans', sans-serif;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: #333533; }
  @media (min-width: 768px) {
    div.header {
      left: calc(50% - 750px/2); } }
  @media (min-width: 992px) {
    div.header {
      left: calc(50% - 970px/2); } }
  @media (min-width: 1200px) {
    div.header {
      left: calc(50% - 1250px/2); } }

div.header-scrolled {
  height: 50px; }

div.wrapper {
  border-top: 3px solid #E2B026;
  height: 80px; }

div.wrapper-scrolled {
  height: 50px;
  box-shadow: 3px 2px 20px 0px black; }

img.title-logo {
  margin: 15px;
  height: 50px;
  float: left; }

img.title-logo-scrolled {
  margin: 8px;
  margin-left: 15px;
  height: 30px; }

div.current-user {
  line-height: 77px;
  display: inline-block; }

div.header-buttons {
  margin-right: 15px;
  float: right;
  vertical-align: middle;
  line-height: 80px;
  font-family: 'Merriweather Sans', sans-serif; }

div.header-buttons-scrolled {
  height: 50px; }

.btn-wrapper {
  width: 300px;
  float: right;
  font-size: 15px; }

.dropdown {
  display: inline-block;
  height: 77px;
  float: right; }

.dropbtn {
  background-image: url("/static/img/hamburger.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%; }
  .dropbtn:hover {
    box-shadow: 0px 2px 3px 0px black; }
  .dropbtn:focus {
    outline: none;
    box-shadow: inset 0px 0px 10px 0px black; }

.dropdown-content {
  font-size: 12px;
  display: none;
  text-align: center;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 110px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation-name: fade;
  animation-duration: 0.2s; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .dropdown-content a {
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content a:hover {
      background-color: #ddd; }
  .dropdown-content form.signout-form {
    position: relative; }
    .dropdown-content form.signout-form img {
      float: left;
      position: absolute;
      top: 13px;
      z-index: 2;
      left: 14px;
      width: 20px;
      pointer-events: none; }
    .dropdown-content form.signout-form input.signout-btn {
      position: relative;
      z-index: 1;
      height: 41px;
      width: 100%;
      border: 0;
      padding-left: 25px;
      padding-right: 0;
      float: right;
      background: white;
      color: black; }
      .dropdown-content form.signout-form input.signout-btn:hover {
        background-color: #ddd; }

#popup-layer {
  display: none;
  font-family: 'Dosis', sans-serif; }

.pop-layer .pop-container {
  padding: 20px 25px; }

.pop-container {
  background-color: #333533;
  box-shadow: 4px 4px 20px 0px black; }

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px; }

.pop-layer .btn-r {
  width: 100%;
  margin: 20px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #777;
  text-align: right; }
  .pop-layer .btn-r h3.social-signin {
    text-align: left;
    margin: 0px;
    margin-bottom: 15px; }
  .pop-layer .btn-r div.social-wrapper {
    height: 40px;
    width: 300px;
    text-align: left;
    margin: 0 auto; }
    .pop-layer .btn-r div.social-wrapper img.fb-btn {
      width: 40px; }
    .pop-layer .btn-r div.social-wrapper span.fb-text {
      font-size: 25px;
      vertical-align: middle;
      margin-left: 10px;
      margin-right: 20px; }
    .pop-layer .btn-r div.social-wrapper img.gg-btn {
      width: 40px;
      border-radius: 2px; }

.pop-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: auto;
  background-color: #fff;
  border: 1px solid #333533;
  border-radius: 3px;
  z-index: 10; }

.dim-layer {
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  filter: alpha(opacity=50); }

.dim-layer .pop-layer {
  display: block; }

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid white;
  border-radius: 2px;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
  margin-top: 15px; }

a.btn-layerClose:hover {
  border: 1px solid white;
  background-color: white;
  color: #333533; }

div.pop-conts {
  text-align: center; }
  div.pop-conts h3.signin-title {
    text-align: left;
    margin-bottom: 15px; }
  div.pop-conts form {
    text-align: center; }
    div.pop-conts form div.form-field {
      text-align: center;
      margin: 10px 0; }
    div.pop-conts form input.signin-field {
      background-color: white;
      color: #333533;
      border: 1px solid #ddd;
      border-radius: 2px;
      width: 300px;
      height: 40px;
      font-size: 20px;
      padding: 6px; }
    div.pop-conts form input.submit-btn {
      background: transparent;
      color: #E2B026;
      border: 1px solid #E2B026;
      border-radius: 2px;
      width: 300px;
      height: 35px;
      font-size: 15px; }
      div.pop-conts form input.submit-btn:hover {
        background-color: #E2B026;
        color: #333533; }
