// index general starts

@media (min-width: 768px) {
    .responsive {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .responsive {
        width: 940px;
    }
}

@media (min-width: 1200px) {
    .responsive {
        width: 1220px;
    }
}

// index general ends

/* contents starts */
div.jumbotron {
    background-color: transparent;
    background-size: cover;
    font-family: 'Fjalla One', sans-serif;

    div.search-bar {
        margin-top: 80px;
        font-family: 'Merriweather Sans', sans-serif;

        form.search-form {
            margin: 0 auto;
            height: 40px;
            width: 600px;
        }

        input.search-field {
            border-radius: 3px 0 0 3px;
            border: 0;
            height: 100%;
            width: 85%;
            vertical-align: middle;
            float: left;
            opacity: 0.8;
            color: black;
            font-size: 15px;
            padding: 10px;

            &:focus {
                outline: none;
                opacity: 1;
            }
        }

        input.search-btn {
            border-radius: 0 3px 3px 0;
            height: 100%;
            width: 15%;
            vertical-align: middle;
            border: 0px;
            background-image: url('../img/search-icon.png');
            color: white;
            font-size: 18px;
            background-color: #333533;
            opacity: 0.8;

            &:focus {
                outline: none;
                box-shadow: inset 1px 1px 20px 1px black;
            }
        }
    }
    p {
        text-align: center;
        &:first-of-type {
            margin: 15px 0 10px 0;
        }
    }
    div.signup-btn-wrapper {
        width: 100%;
        text-align: center;
        button.signup-btn {
            color: #E2B026;
            font-family: 'Merriweather Sans', sans-serif;
            border: 1px solid #E2B026;
            border-radius: 2px;
            background-color: transparent;
            font-size: 15px;
            padding: 7px 20px;

            &:hover {
                background-color: #E2B026;
                color: white;
            }

            &:focus {
                outline-color: #ffbe00e8;
                transition-duration: 0.2s;
            }
        }
    }
    .dot {
        cursor:pointer;
        height: 15px;
        width: 15px;
        margin: 0 4px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        position: relative;
        float: right;
        text-align: center;
        top: 20px;
        left: 45px;
    }
    .active, .dot:hover {
        background-color: #717171;
    }
}

div.jumbotron span {
    font-size: 20px;
}

div.jumbotron strong {
    color: #E2B026;
}


div.slideshow-container {
    height: 600px;

    .slide-btn-wrapper {
        position: relative;

        a.prev {
            font-size: 30px;
            position: absolute;
            bottom: 300px;
            float: left;
            left: 10px;
            color: #bbbbbb;
            cursor: pointer;
            z-index: 2;

            &:hover {
                color: #333533;
            }
        }
        a.next {
            font-size: 30px;
            position: absolute;
            bottom: 300px;
            float: right;
            right: 10px;
            color: #bbb;
            cursor: pointer;
            z-index: 2;

            &:hover {
                color: #333533;
            }
        }
    }
}

div.contents div.post-list {
    position: relative;
    z-index: 1;
    background-size: cover;
    overflow: hidden;
    color: black;
    padding: 20px;
    height: 600px;
    width: 100%;

    h2.pop-posts-title {
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid #bbb;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 40px;
    }

    h3.pop-posts-title {
        padding-bottom: 25px;
        margin-bottom: 25px;
        margin-top: 130px;
        border-bottom: 1px solid #bbb;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 20px;
        a {
            color: black;
        }
    }

    span.pop-posts-p {
        font-size: 14px;
        font-family: 'Merriweather Sans', sans-serif;
    }

    div.obj-wrapper {
        width: 1100px;
        margin: 20px auto 0 auto;
    }
}



div.post-obj.title {
    text-align: justify;
}

div.post-list div.post-obj {
    width: 200px;
    height: 270px;
    float: left;
    margin-right: 25px;
    &:nth-child(5n) {
        margin-right: 0px;
    }

    div.index-post-obj {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(53, 51, 53, 0.6);
        width: 200px;
        height: 200px;
        margin-bottom: 5px;
        float: left;
        border: 1px solid #8a9791;
        border-radius: 2px;
        position: relative;
        &:hover {
            .play-icon-wrapper{
                opacity: 1;
            }
        }

        .post-img-mask {

        }

        .play-icon-wrapper {
            opacity: 0;
            position: absolute;
            bottom: calc(50% - 60px/2);
            left: calc(50% - 60px/2);
            font-size: 20px;
        }
    }

    p.post-title {
        text-align: left;
        font-size: 1.1em;
        margin: 0 5px;
        font-family: 'Catamaran', sans-serif;
        color: black;
    }

    p.post-author {
        text-align: left;
        color: #4c4c4c;
        margin: 0 5px;
        font-family: 'Catamaran', sans-serif;
    }
}

/* contents ends */




