/* general starts */

body {
  background-color: #333533;
  color: #E8EDDF;
}

a {
  color: #E8EDDF;
}

a:hover {
  text-decoration: none;
}

.transition {
  transition-duration: 0.2s;
}

/* general ends */

/* header starts */

div.header {
  position: fixed;
  top: 0;
  background-color: #333533;
  @media (min-width: 768px) {
    left: calc(50% - 750px/2)
  }
  @media (min-width: 992px) {
    left: calc(50% - 970px/2)
  }
  @media (min-width: 1200px) {
    left: calc(50% - 1250px/2)
  }
}

div.header-scrolled {
  height: 50px;
}

div.wrapper {
  border-top: 3px solid #E2B026;
  height: 80px;
}

div.wrapper-scrolled {
  height: 50px;
  box-shadow: 3px 2px 20px 0px black;
}

img.title-logo {
  margin: 15px;
  height: 50px;
  float: left;
}

img.title-logo-scrolled {
  margin: 8px;
  margin-left: 15px;
  height: 30px;
}

div.header-buttons {
  margin-right: 15px;
  float: right;
  vertical-align: middle;
  height: 80px;
  font-family: 'Merriweather Sans', sans-serif;
}

div.header-buttons-scrolled {
  height: 50px;
}

a.signin-btn {
  margin: 20px 0;
  margin-right: 10px;
  background: transparent;
  border: 1px solid #E8EDDF;
  border-radius: 3px;
  padding: 7px;
  text-align: center;
  vertical-align: middle;
  transition-duration: 0.1s;

  &:hover {
    background-color: #E8EDDF;
    color: #333533;
    transition-duration: 0.1s;
  }
}

a.signup-btn {
  line-height: 78px;
  margin: 20px 0;
  background: #E2B026;
  color: #333533;
  border: 1px solid #E2B026;
  border-radius: 3px;
  padding: 7px;
  text-align: center;
  vertical-align: middle;
}

a.signup-btn-scrolled {
  line-height: 48px;
}

/* header ends */

/* contents starts */
div.contents {
  margin-top: 85px;
}

div.jumbotron {
  background-color: transparent;
  background-size: cover;
  font-family: 'Fjalla One', sans-serif;
}

div.jumbotron span {
  font-size: 20px;
}

div.jumbotron strong {
  color: #E2B026;
}

div.contents div.pop-posts {
  background-color: #E8EDDF;
  overflow: hidden;
  color: black;
  padding: 20px;

  h2.pop-posts-title {
    margin-left: 15px;
    margin-bottom: 20px;
    font-family: 'Merriweather Sans', sans-serif;
  }

  div.obj-wrapper {
    width: 1100px;
    margin: 0 auto;
  }
}

div.pop-posts div.post-obj {
  width: 200px;
  height: 270px;
  float: left;
  margin-right: 25px;
  &:nth-child(5n) {
    margin-right: 0px;
  }

  div.post-img {
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    float: left;
    border: 1px solid #CFDBD5;
  }

  p.post-title {
    text-align: left;
    font-size: 1.1em;
    margin: 0 5px;
    font-family: 'Catamaran', sans-serif;

  }

  p.post-author {
    text-align: left;
    color: #777777;
    margin: 0 5px;
    font-family: 'Catamaran', sans-serif;
  }
}

/* contents ends */

// pop-up layer starts

#popup-layer {
  display: none;
  font-family: 'Dosis', sans-serif;
}

.pop-layer .pop-container {
  padding: 20px 25px;
}

.pop-container {
  background-color: #333533;
  box-shadow: 4px 4px 20px 0px black;
}

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px;
}

.pop-layer .btn-r {
  width: 100%;
  margin: 20px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #777;
  text-align: right;

  h3.social-signin {
    text-align: left;
    margin: 0px;
    margin-bottom: 15px;
  }

  div.social-wrapper {
    height: 40px;
    width: 300px;
    text-align: left;
    margin:0 auto;

    img.fb-btn {
      width: 40px;
    }

    span.fb-text {
      font-size: 25px;
      vertical-align: middle;
      margin-left: 10px;
      margin-right: 20px;
    }

    img.gg-btn {
      width: 40px;
      border-radius: 2px;
    }
  }
}

.pop-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: auto;
  background-color: #fff;
  border: 1px solid #333533;
  border-radius: 3px;
  z-index: 10;
}

.dim-layer {
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid white;
  border-radius: 2px;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
  margin-top: 15px;
}

a.btn-layerClose:hover {
  border: 1px solid white;
  background-color: white;
  color: #333533;
}

div.pop-conts {
  text-align: center;

  h3.signin-title {
    text-align: left;
    margin-bottom: 15px;
  }

  form {
    text-align: center;

    div.form-field {
      text-align: center;
      margin: 10px 0;
    }

    input.signin-field {
      background-color: white;
      color: #333533;
      border: 1px solid #ddd;
      border-radius: 2px;
      width: 300px;
      height: 40px;
      font-size: 20px;
      padding: 6px;

    }

    input.submit-btn {
      background: transparent;
      color: #E2B026;
      border: 1px solid #E2B026;
      border-radius: 2px;
      width: 300px;
      height: 35px;
      font-size: 15px;

      &:hover {
        background-color: #E2B026;
        color: #333533;
      }
    }
  }
}

// pop-up layer ends
