.coming-soon {
    margin: 60px;
    p {
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        font-size: 30px;
    }
    img {
        margin: 0 auto;
        display: block;
        width: 270px;
        opacity: 0.3;
    }
}