.post-master-track {
    background: whitesmoke;
    color: black;
    padding: 20px;
    overflow: hidden;


    .master-track-info {
        display: inline-block;
        width: 770px;
        margin-left: 30px;
        border-bottom: 1px solid #ddd;

        .track-title {
            font-family: 'Fjalla One', sans-serif;
            font-size: 50px;
        }
        .track-author {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 3rem;
            color: black;
            display: inline-block;

            &:hover {
                color: #337ab7;
            }
        }
        .playtime {
            display: inline-block;
            float: right;
            position: relative;
            top: 20px;
            font-size: 25px;
            font-family: 'Source Sans Pro', sans-serif;
            span {
                vertical-align: text-top;
            }
        }
    }

    .track-img {
        width: 350px;
        height: 350px;
        float: left;
        border-radius: 3px;
        border: 1px solid #ddd;
        background-color: #eee;
        text-align: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .master-track-waveform {
        position: relative;
        display: block;
        overflow: hidden;
        width: 800px;
        height: 150px;
        left: 20px;
        margin: 30px auto;

        .no-master-track {
            text-align: center;
            .line1 {
                font-size: 5rem;
                font-family: 'Fjalla One', sans-serif;
                margin-bottom: 25px;
            }
            .line2 {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 3rem;
            }
        }

        .post-detail-waveform {
            width: 800px;
            height: 150px;
        }

        .master-track-waveform-base {
            cursor: pointer;
            float: left;
        }

        .master-waveform-cover-cutter {
            pointer-events: none;
            overflow: hidden;
            height: 150px;
            position: absolute;
            transition-duration: 0.3s;

            .master-track-waveform-cover {
                position: absolute;
                left: 0;
            }
        }
    }

    .master-track-play-btn {
        cursor: pointer;
        display: inline-block;
        font-size: 30px;
        height: 150px;
        float: left;
        padding: 30px 0;
        vertical-align: middle;
        margin-right: 30px;
        transition-duration: 0.1s;

        &:hover {
            color: #E2B026;
        }
    }
}

.collapse {
    height: 0 !important;
}

.track-collapse {
    background-color: whitesmoke;
    line-height: 20px;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    box-sizing: content-box;
    box-shadow: 0 0 9px -2px black;
    position: relative;
    z-index: 1;

    span {
        font-family: 'Fjalla One', sans-serif;
        font-size: 20px;
        color: #888;
    }
    span.collapse-icon {
        cursor: pointer;
        float:right;
    }
}

.instrument-header {
    padding: 3px 20px;
    padding-left: 40px;

    span {
        font-size: 15px;
    }

}

.instrument-img-mask {
    width: 100%;
    height: 250px;
    position: absolute;
    background-color: black;
    opacity: 0.6;
    pointer-events: none;
}

.no-tracks {
    border: 0;

    span {
        display: inline-block;
        width: 100%;
        line-height: 250px;
        text-align: center;
        font-size: 40px;
        color: #333533;
        background-color: whitesmoke;
        font-family: 'Fjalla One', sans-serif;
    }
}


.post-track {
    height: 250px;
    position: relative;
    border: 1px solid #787878;
    border-top: 0;
    transition-duration: 0.3s;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.track-profile-img {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 250px;
    float: left;
    background-size: cover;
    background-position: center;
}
.track-info {
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
    width: 1030px;

    .track-play-btn {
        display: inline-block;
        cursor: pointer;
    }
    .track-title {
        margin-left: 20px;
        font-family: 'Fjalla One', sans-serif;
        display: inline-block;
    }
    .track-author {
        margin-left: 10px;
        display: inline-block;
    }

    .playtime {
        display: inline-block;
        float: right;
        position: relative;
        top: 40px;
        right: 20px;
    }

}
.track-waveform {
    position: relative;
    display: block;
    overflow: hidden;
    width: 1000px;
    height: 120px;
    left: 20px;
    margin: 15px auto;

    .post-detail-waveform {
        width: 1000px;
        height: 120px;
    }

    .track-waveform-base {
        filter: brightness(350%);
        cursor: pointer;
        float: left;
    }

    .waveform-cover-cutter {
        pointer-events: none;
        overflow: hidden;
        height: 120px;
        position: absolute;
        transition-duration: 0.3s;

        .track-waveform-cover {
            position: absolute;
            left: 0;
        }
    }
}


.post-comment-tracks {

    a {
        color: black;

        &:hover {
            color: #23527c;
        }
    }

    background-color: whitesmoke;
    overflow: hidden;

    .instruments-tabs {
        display: inline-block;
        float: left;

        .tab-btns {
            box-sizing: content-box;
            font-family: 'Fjalla One', sans-serif;
            color: #888;
            width: 140px;
            height: 50px;
            font-size: 18px;
            float: left;
            border: 0;
            border-right: 1px solid #ddd;
        }
    }

    .no-tracks {
        border: 0;
    }
}

.instrument-comment-track {
    float: left;
    width: 100%;
    display: none;

    .comment-track {
        color: black;
        height: 250px;
        position: relative;
        border: 0;
        border-bottom: 1px solid #ddd;
        transition-duration: 0.3s;
        overflow: hidden;

        &:hover {
            box-shadow: 0 0 10px 0 black;
        }
    }
}

.no-filter {
    filter: none !important;
}

.tab-clicked {
    background-color: #ddd;
    box-shadow: inset 0px 0px 10px -2px black;
    color: black !important;
}

.tab-opened {
    display: block !important;
}

