.post-master-track {
    background: whitesmoke;
    color: black;
    padding: 20px;
    overflow: hidden;


    .master-track-info {
        display: inline-block;
        width: 770px;
        margin-left: 30px;
        border-bottom: 1px solid #ddd;

        .track-title {
            font-family: 'Fjalla One', sans-serif;
            font-size: 50px;
        }
        .track-author {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 3rem;
            color: black;
            display: inline-block;

            &:hover {
                color: #337ab7;
            }
        }
    }

    .track-img {
        width: 350px;
        height: 350px;
        float: left;
        border-radius: 3px;
        border: 1px solid #ddd;
        background-color: #eee;
        text-align: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .master-track-waveform {
        position: relative;
        display: block;
        overflow: hidden;
        width: 800px;
        height: 150px;
        left: 20px;
        margin: 30px auto;

        .post-detail-waveform {
            width: 800px;
            height: 150px;
        }

        .master-track-waveform-base {
            float: left;
        }

        .waveform-cover-cutter {
            pointer-events: none;
            overflow: hidden;
            height: 150px;
            position: absolute;

            .master-track-waveform-cover {
                position: absolute;
                left: 0;
            }
        }
    }

    .master-track-play-btn {
        cursor: pointer;
        display: inline-block;
        font-size: 30px;
        height: 150px;
        float: left;
        padding: 30px 0;
        vertical-align: middle;
        margin-right: 30px;
    }
}