div.profile-content {
  color: black;
  box-shadow: 1px 1px 8px 0px black;
  padding: 0; }
  div.profile-content div.profile-head {
    background-color: white;
    height: 300px;
    position: relative;
    background-size: 100%;
    background-position: center; }
    div.profile-content div.profile-head div.user-info {
      font-family: 'Merriweather Sans', sans-serif;
      position: absolute;
      width: 100%;
      top: 57%;
      left: 0; }
      div.profile-content div.profile-head div.user-info div.profile-img {
        background-color: grey;
        background-position: center;
        width: 250px;
        height: 250px;
        display: inline-block;
        margin-left: 50px;
        background-size: cover;
        position: relative;
        float: left; }
      div.profile-content div.profile-head div.user-info div.username-info {
        display: inline-block;
        margin: 0 40px;
        position: relative;
        top: 129px; }
        div.profile-content div.profile-head div.user-info div.username-info h2.nickname {
          font-size: 40px; }
        div.profile-content div.profile-head div.user-info div.username-info span.email {
          font-size: 15px; }
    div.profile-content div.profile-head div.social-info {
      padding-top: 20px;
      width: 400px;
      height: 100%;
      display: inline-block;
      top: 129px;
      float: right;
      position: relative; }
      div.profile-content div.profile-head div.social-info div.social-count {
        font-weight: bold;
        float: right;
        display: inline-block;
        margin-left: 15px;
        font-family: 'Source Sans Pro', sans-serif;
        padding-left: 15px;
        border-left: 1px solid #ddd; }
        div.profile-content div.profile-head div.social-info div.social-count:first-child {
          margin-right: 15px; }
        div.profile-content div.profile-head div.social-info div.social-count p {
          margin: 0; }
        div.profile-content div.profile-head div.social-info div.social-count p.social-count-title {
          font-size: 20px; }
        div.profile-content div.profile-head div.social-info div.social-count p.social-count-num {
          font-size: 25px; }
    div.profile-content div.profile-head #follow-btn {
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold;
      position: absolute;
      bottom: 10px;
      right: 15px;
      background-color: transparent;
      border: 1px solid white;
      width: 100px;
      height: 31px;
      font-size: 20px;
      border-radius: 3px;
      padding: 0; }
      div.profile-content div.profile-head #follow-btn:hover {
        background-color: white;
        color: black; }

div.profile-body {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  min-height: 500px; }
  div.profile-body div.profile-body-wrapper {
    padding: 150px 20px 10px 20px;
    display: inline-block;
    width: 100%; }
    div.profile-body div.profile-body-wrapper div.section {
      display: inline-block; }
      div.profile-body div.profile-body-wrapper div.section.section-left {
        width: 69%;
        float: left; }
        div.profile-body div.profile-body-wrapper div.section.section-left div.menu-wrapper {
          border-bottom: 1px solid #ddd;
          display: inline-block;
          width: 100%; }
          div.profile-body div.profile-body-wrapper div.section.section-left div.menu-wrapper .clicked {
            border-bottom: 3px solid #E2B026 !important;
            margin-bottom: 0;
            font-weight: bold;
            padding-bottom: 7px !important; }
          div.profile-body div.profile-body-wrapper div.section.section-left div.menu-wrapper button.profile-body-menu {
            font-family: 'Source Sans Pro', sans-serif;
            display: inline-block;
            padding: 10px 0;
            float: left;
            background: transparent;
            font-size: 20px;
            border: 0;
            width: 110px; }
            div.profile-body div.profile-body-wrapper div.section.section-left div.menu-wrapper button.profile-body-menu span {
              border-right: 1px solid #ddd;
              display: inherit; }
            div.profile-body div.profile-body-wrapper div.section.section-left div.menu-wrapper button.profile-body-menu:hover {
              font-weight: bold; }

div.no-post {
  width: 500px;
  height: 200px;
  margin: 100px auto;
  font-size: 27px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #aaa; }

div.track-obj {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  position: relative; }
  div.track-obj:hover {
    box-shadow: 0px 0px 4px black; }
  div.track-obj div.track-post-img {
    height: 160px;
    width: 160px;
    float: left;
    border: 1px solid #ddd;
    margin: 10px 10px;
    background-size: cover;
    background-position: center;
    border-radius: 5px; }
  div.track-obj p {
    margin: 0; }
  div.track-obj a {
    display: inline-block; }
  div.track-obj div.title-author-wrapper {
    display: inline-block;
    margin-left: 15px;
    position: absolute;
    top: 0;
    left: 240px; }
    div.track-obj div.title-author-wrapper .track-title {
      margin-top: 7px;
      font-size: 25px; }
    div.track-obj div.title-author-wrapper .track-author {
      font-size: 18px;
      color: black; }
      div.track-obj div.title-author-wrapper .track-author:hover {
        font-weight: bold; }
  div.track-obj div.play-btn-wrapper {
    position: relative;
    display: inline-block; }
    div.track-obj div.play-btn-wrapper div.play-btn {
      display: block;
      top: 0;
      width: 42px;
      height: 42px;
      margin-top: 18px;
      margin-left: 20px;
      color: #333533;
      transition: 0.2s ease;
      cursor: pointer; }
      div.track-obj div.play-btn-wrapper div.play-btn:hover {
        color: #E2B026; }
  div.track-obj div.track-social-count {
    position: relative;
    top: 10px;
    right: 20px;
    float: right; }
    div.track-obj div.track-social-count .item {
      margin-right: 3px;
      font-size: 25px;
      display: inline;
      color: #333533; }
      div.track-obj div.track-social-count .item .like-btn {
        cursor: pointer;
        transition: 0.3s; }
        div.track-obj div.track-social-count .item .like-btn:hover {
          color: #E2B026; }
      div.track-obj div.track-social-count .item .glyphicon-heart {
        color: #E2B026; }
      div.track-obj div.track-social-count .item span {
        margin: 0 3px;
        vertical-align: middle; }
  div.track-obj div.track-genre {
    float: left;
    width: 100%;
    margin: 0 20px;
    margin-bottom: 15px; }
    div.track-obj div.track-genre span.track-genre-item {
      font-size: 17px;
      background-color: #333533;
      color: white;
      padding: 0 10px;
      padding-bottom: 2px;
      border-radius: 15px; }
  div.track-obj div.playtime {
    position: absolute;
    right: 20px;
    top: 55px;
    font-size: 18px;
    padding: 0 5px; }
  div.track-obj div.waveform-wrapper {
    position: relative;
    float: left;
    opacity: 0.5;
    transition: 0.2s;
    top: 30px;
    left: 25px;
    height: 80px;
    width: 600px; }
    div.track-obj div.waveform-wrapper:hover {
      opacity: 1; }
    div.track-obj div.waveform-wrapper img.back-image {
      position: absolute;
      z-index: 0;
      width: 600px;
      height: 80px;
      cursor: pointer; }
    div.track-obj div.waveform-wrapper div.cutter {
      z-index: 1;
      position: absolute;
      width: 0px;
      height: 100%;
      overflow: hidden;
      pointer-events: none; }
    div.track-obj div.waveform-wrapper img.cover-image {
      position: absolute;
      width: 600px;
      height: 80px; }

button.more-btn {
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  background: transparent;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-size: 20px;
  transition: 0.2s; }
  button.more-btn:hover {
    color: #ff0000; }

div.section-right {
  font-family: 'Source Sans Pro', sans-serif;
  width: 30%;
  float: right; }
  div.section-right a {
    color: black; }
    div.section-right a:hover {
      color: black; }
  div.section-right p {
    margin: 0; }
  div.section-right .liked-posts-list {
    margin-top: 15px; }
    div.section-right .liked-posts-list .liked-posts-headline {
      border-bottom: 1px solid #ddd;
      font-size: 20px;
      padding-bottom: 5px; }
    div.section-right .liked-posts-list .liked-list-icon {
      color: #E2B026;
      margin: 0 3px; }
    div.section-right .liked-posts-list .liked-list-title {
      vertical-align: text-bottom; }
    div.section-right .liked-posts-list .liked-posts-count {
      float: right; }
      div.section-right .liked-posts-list .liked-posts-count .liked-count {
        vertical-align: text-bottom; }
    div.section-right .liked-posts-list .liked-posts-contents .view-all-list {
      border-top: 1px solid #ddd;
      margin-top: 10px;
      padding-right: 5px;
      text-align: right;
      font-size: 16px; }

div.no-liked-posts {
  width: 100%;
  height: 150px;
  padding: 27px;
  color: #aaa; }
  div.no-liked-posts p.line1 {
    text-align: center;
    font-size: 40px; }
  div.no-liked-posts p.line2 {
    font-size: 20px;
    text-align: center; }

div.liked-post-obj {
  margin-top: 10px;
  margin-left: 5px;
  width: 100%;
  height: 50px; }
  div.liked-post-obj div.liked-post-img {
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-size: cover;
    background-repeat: no-repeat; }
  div.liked-post-obj div.liked-post-obj-contents {
    float: left;
    margin-left: 5px;
    width: 280px; }
    div.liked-post-obj div.liked-post-obj-contents .liked-post-info-1 {
      float: left; }
      div.liked-post-obj div.liked-post-obj-contents .liked-post-info-1 .obj-title {
        color: #888;
        font-size: 17px; }
      div.liked-post-obj div.liked-post-obj-contents .liked-post-info-1 .obj-author {
        font-size: 14px; }
    div.liked-post-obj div.liked-post-obj-contents .liked-post-info-2 {
      float: right;
      font-size: 16px; }
      div.liked-post-obj div.liked-post-obj-contents .liked-post-info-2 span.liked-count-icon {
        color: #E2B026; }
