// profile head starts

div.profile-content {
    color: black;
    box-shadow: 1px 1px 8px 0px black;
    padding: 0;

    div.profile-head {
        background-color: white;
        height: 300px;
        position: relative;
        background-size: 100%;
        background-position: center;
        div.user-info {
            font-family: 'Merriweather Sans', sans-serif;
            position: absolute;
            width: 100%;
            top: 57%;
            left: 0;

            div.profile-img {
                background-color: grey;
                background-position: center;
                width: 250px;
                height: 250px;
                display: inline-block;
                margin-left: 50px;
                background-size: cover;
                position: relative;
                float: left;
            }

            div.username-info {
                display: inline-block;
                margin: 0 40px;
                position: relative;
                top: 129px;
                h2.nickname {
                    font-size: 40px;
                }
                span.email {
                    font-size: 15px;
                }
            }
        }
        div.social-info {
            padding-top: 20px;
            width: 400px;
            height: 100%;
            display: inline-block;
            top: 129px;
            float: right;
            position: relative;

            div.social-count {
                font-weight: bold;
                float: right;
                display: inline-block;
                margin-left: 15px;
                font-family: 'Source Sans Pro', sans-serif;
                padding-left: 15px;
                border-left: 1px solid #ddd;

                &:first-child {
                    margin-right: 15px;
                }

                p {
                    margin: 0;
                }

                p.social-count-title {
                    font-size: 20px;
                }
                p.social-count-num {
                    font-size: 25px;
                }
            }
        }
        #follow-btn {
            color: white;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: bold;
            position: absolute;
            bottom: 10px;
            right: 15px;
            background-color: transparent;
            border: 1px solid white;
            width: 100px;
            height: 31px;
            font-size: 20px;
            border-radius: 3px;
            padding: 0;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

// profile head ends

// profile body starts

div.profile-body {
    background-color: whitesmoke;
    width: 100%;
    height: 1000px;

    div.profile-body-wrapper {
        padding: 150px 20px 10px 20px;
        display: inline-block;
        width: 100%;

        div.section {
            display: inline-block;

            &.section-left {
                width: 69%;
                float: left;

                div.menu-wrapper {
                    border-bottom: 1px solid #ddd;
                    display: inline-block;
                    width: 100%;

                    button.profile-body-menu {
                        font-family: 'Source Sans Pro', sans-serif;
                        display: inline-block;
                        padding: 10px 0;
                        float: left;
                        background: transparent;
                        font-size: 20px;
                        border: 0;
                        width: 110px;

                        span {
                            border-right: 1px solid #ddd;
                            display: inherit;
                        }

                        &:hover {
                            font-weight: bold;
                        }

                        &:focus {
                            border-bottom: 3px solid #E2B026;
                            margin-bottom: 0;
                            font-weight: bold;
                            padding-bottom: 7px;
                        }
                    }
                }
            }
            &.section-right {
                border: 1px solid black;
                width: 30%;
                float: right;
            }
        }
    }
}

div.track-obj {
    width: 100%;
    display: inline-block;

    img.track-post-img {
        width: 140px;
        float: left;
    }

    p {
        margin: 0;
    }
    p.track-title {
        font-size: 25px;

    }
    p.track-author {
    }

}

// profile body ends