div.profile-content {
  color: black;
  box-shadow: 1px 1px 8px 0px black;
  padding: 0; }
  div.profile-content div.profile-head {
    background-color: white;
    height: 300px;
    position: relative;
    background-size: 100%;
    background-position: center; }
    div.profile-content div.profile-head div.user-info {
      font-family: 'Merriweather Sans', sans-serif;
      position: absolute;
      width: 100%;
      top: 57%;
      left: 0; }
      div.profile-content div.profile-head div.user-info div.profile-img {
        background-color: grey;
        background-position: center;
        width: 250px;
        height: 250px;
        display: inline-block;
        margin-left: 50px;
        background-size: cover;
        position: relative;
        float: left; }
      div.profile-content div.profile-head div.user-info div.username-info {
        display: inline-block;
        margin: 0 40px;
        position: relative;
        top: 129px; }
        div.profile-content div.profile-head div.user-info div.username-info h2.nickname {
          font-size: 40px; }
        div.profile-content div.profile-head div.user-info div.username-info span.email {
          font-size: 15px; }
    div.profile-content div.profile-head div.social-info {
      padding-top: 20px;
      width: 400px;
      height: 100%;
      display: inline-block;
      top: 129px;
      float: right;
      position: relative; }
      div.profile-content div.profile-head div.social-info div.social-count {
        font-weight: bold;
        float: right;
        display: inline-block;
        margin-left: 15px;
        font-family: 'Source Sans Pro', sans-serif;
        padding-left: 15px;
        border-left: 1px solid #ddd; }
        div.profile-content div.profile-head div.social-info div.social-count:first-child {
          margin-right: 15px; }
        div.profile-content div.profile-head div.social-info div.social-count p {
          margin: 0; }
        div.profile-content div.profile-head div.social-info div.social-count p.social-count-title {
          font-size: 20px; }
        div.profile-content div.profile-head div.social-info div.social-count p.social-count-num {
          font-size: 25px; }
    div.profile-content div.profile-head #follow-btn {
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold;
      position: absolute;
      bottom: 10px;
      right: 15px;
      background-color: transparent;
      border: 1px solid white;
      width: 100px;
      height: 31px;
      font-size: 20px;
      border-radius: 3px;
      padding: 0; }
      div.profile-content div.profile-head #follow-btn:hover {
        background-color: white;
        color: black; }

div.profile-body {
  background-color: whitesmoke;
  width: 100%;
  height: 1000px; }
  div.profile-body div.profile-body-wrapper {
    padding: 150px 20px 10px 20px;
    display: inline-block;
    width: 100%; }
    div.profile-body div.profile-body-wrapper div.section {
      display: inline-block; }
      div.profile-body div.profile-body-wrapper div.section.section-left {
        width: 69%;
        float: left; }
        div.profile-body div.profile-body-wrapper div.section.section-left div.menu-wrapper {
          border-bottom: 1px solid #ddd;
          display: inline-block;
          width: 100%; }
          div.profile-body div.profile-body-wrapper div.section.section-left div.menu-wrapper button.profile-body-menu {
            font-family: 'Source Sans Pro', sans-serif;
            display: inline-block;
            padding: 10px 0;
            float: left;
            background: transparent;
            font-size: 20px;
            border: 0;
            width: 110px; }
            div.profile-body div.profile-body-wrapper div.section.section-left div.menu-wrapper button.profile-body-menu span {
              border-right: 1px solid #ddd;
              display: inherit; }
            div.profile-body div.profile-body-wrapper div.section.section-left div.menu-wrapper button.profile-body-menu:hover {
              font-weight: bold; }
            div.profile-body div.profile-body-wrapper div.section.section-left div.menu-wrapper button.profile-body-menu:focus {
              border-bottom: 3px solid #E2B026;
              margin-bottom: 0;
              font-weight: bold;
              padding-bottom: 7px; }
      div.profile-body div.profile-body-wrapper div.section.section-right {
        border: 1px solid black;
        width: 30%;
        float: right; }

div.track-obj {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28); }
  div.track-obj:hover {
    box-shadow: 0px 0px 4px black; }
  div.track-obj div.track-post-img {
    height: 160px;
    width: 160px;
    float: left;
    border: 1px solid #ddd;
    margin: 10px 10px;
    background-size: cover;
    background-position: center;
    border-radius: 5px; }
  div.track-obj p {
    margin: 0; }
  div.track-obj a {
    display: inline-block; }
  div.track-obj .track-title {
    margin-top: 7px;
    font-size: 25px; }
  div.track-obj .track-author {
    font-size: 18px;
    color: black; }
    div.track-obj .track-author:hover {
      font-weight: bold; }
  div.track-obj div.track-social-count {
    position: relative;
    top: 10px;
    right: 20px;
    float: right; }
    div.track-obj div.track-social-count .item {
      margin-right: 3px;
      font-size: 25px;
      display: inline; }
      div.track-obj div.track-social-count .item .like-btn {
        cursor: pointer; }
      div.track-obj div.track-social-count .item .glyphicon-heart {
        color: red; }
      div.track-obj div.track-social-count .item span {
        font-size: 30px;
        margin: 0 3px;
        vertical-align: middle; }
  div.track-obj div.track-genre {
    float: left;
    width: 100%;
    margin: 0 20px;
    margin-bottom: 15px; }
    div.track-obj div.track-genre span.track-genre-item {
      font-size: 17px;
      background-color: #333533;
      color: white;
      padding: 0 10px;
      padding-bottom: 2px;
      border-radius: 15px; }
  div.track-obj div.waveform-wrapper {
    position: relative;
    width: 630px;
    height: 100px;
    float: left;
    padding-left: 15px; }
    div.track-obj div.waveform-wrapper div.waveform-loader {
      left: 58%;
      position: absolute;
      top: 83%;
      z-index: 1;
      margin: -75px 0 0 -75px;
      border: 10px solid #333533;
      border-radius: 50%;
      border-top: 10px solid #E2B026;
      width: 70px;
      height: 70px;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
