// profile body starts

div.profile-body {
    background-color: white;
    height: 300px;
    position: relative;
    font-family: 'Merriweather Sans', sans-serif;
}

div.profile-img {
    box-shadow: 1px 1px 6px 0px black;
    background-color: grey;
    background-position: center;
    width: 250px;
    height: 250px;
    display: inline-block;
    margin-left: 15px;
    background-size: cover;

    position: absolute;
    top: 60%;
}

div.user-info {
        position: absolute;
    top: 100%;
    left: 24%;
    h2.nickname {
        font-size: 40px;
    }
    span.email {
        font-size: 15px;
    }

}



// profile body ends