// profile body starts

div.profile-content {
    padding: 0;

    div.profile-head {
        background-color: white;
        height: 300px;
        position: relative;
        background-size: 100%;
        background-position: center;
        div.user-info {
            font-family: 'Merriweather Sans', sans-serif;
            position: absolute;
            width: 100%;
            top: 57%;
            left: 0;

            div.profile-img {
                box-shadow: 1px 1px 6px 0px black;
                background-color: grey;
                background-position: center;
                width: 250px;
                height: 250px;
                display: inline-block;
                margin-left: 50px;
                background-size: cover;
                position: relative;
                float: left;
            }

            div.username-info {
                display: inline-block;
                margin: 0 40px;
                position: relative;
                top: 129px;
                h2.nickname {
                    font-size: 40px;
                }
                span.email {
                    font-size: 15px;
                }
            }
        }
        div.social-info {
            padding-top: 20px;
            width: 400px;
            height: 100%;
            display: inline-block;
            top: 129px;
            float: right;
            position: relative;

            div.social-count {
                float: right;
                display: inline-block;
                margin-right: 15px;
                font-family: 'Fjalla One', sans-serif;
                padding-right: 15px;
                border-right: 1px solid #464646;

                &:first-child {
                    margin-right: 0;
                }

                p {
                    margin: 0;
                }

                p.social-count-title {
                    font-size: 20px;
                }
                p.social-count-num {
                    font-size: 25px;
                }
            }
        }
        #follow-btn {
            font-family: 'Roboto Condensed', sans-serif;
            position: absolute;
            bottom: 10px;
            right: 15px;
            background-color: transparent;
            border: 1px solid white;
            width: 100px;
            height: 30px;
            font-size: 20px;
            border-radius: 3px;
            padding: 0;
        }
    }
}





// profile body ends