// profile head starts

div.profile-content {
    color: black;
    box-shadow: 1px 1px 8px 0px black;
    padding: 0;

    div.profile-head {
        background-color: white;
        height: 300px;
        position: relative;
        background-size: 100%;
        background-position: center;
        div.user-info {
            font-family: 'Merriweather Sans', sans-serif;
            position: absolute;
            width: 100%;
            top: 57%;
            left: 0;

            div.profile-img {
                background-color: grey;
                background-position: center;
                width: 250px;
                height: 250px;
                display: inline-block;
                margin-left: 50px;
                background-size: cover;
                position: relative;
                float: left;
            }

            div.username-info {
                display: inline-block;
                margin: 0 40px;
                position: relative;
                top: 129px;
                h2.nickname {
                    font-size: 40px;
                }
                span.email {
                    font-size: 15px;
                }
            }
        }
        div.social-info {
            padding-top: 20px;
            width: 400px;
            height: 100%;
            display: inline-block;
            top: 129px;
            float: right;
            position: relative;

            div.social-count {
                font-weight: bold;
                float: right;
                display: inline-block;
                margin-left: 15px;
                font-family: 'Source Sans Pro', sans-serif;
                padding-left: 15px;
                border-left: 1px solid #ddd;

                &:first-child {
                    margin-right: 15px;
                }

                p {
                    margin: 0;
                }

                p.social-count-title {
                    font-size: 20px;
                }
                p.social-count-num {
                    font-size: 25px;
                }
            }
        }
        #follow-btn {
            color: white;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: bold;
            position: absolute;
            bottom: 10px;
            right: 15px;
            background-color: transparent;
            border: 1px solid white;
            width: 100px;
            height: 31px;
            font-size: 20px;
            border-radius: 3px;
            padding: 0;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

// profile head ends

// profile body starts

div.profile-body {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    min-height: 500px;

    div.profile-body-wrapper {
        padding: 150px 20px 10px 20px;
        display: inline-block;
        width: 100%;

        div.section {
            display: inline-block;

            &.section-left {
                width: 69%;
                float: left;

                div.menu-wrapper {
                    border-bottom: 1px solid #ddd;
                    display: inline-block;
                    width: 100%;

                    .clicked {
                        border-bottom: 3px solid #E2B026 !important;
                        margin-bottom: 0;
                        font-weight: bold;
                        padding-bottom: 7px !important;
                    }

                    button.profile-body-menu {
                        font-family: 'Source Sans Pro', sans-serif;
                        display: inline-block;
                        padding: 10px 0;
                        float: left;
                        background: transparent;
                        font-size: 20px;
                        border: 0;
                        width: 110px;

                        span {
                            border-right: 1px solid #ddd;
                            display: inherit;
                        }

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

div.no-post {
    width: 500px;
    height: 200px;
    margin: 100px auto;
    font-size: 27px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #aaa;
}

div.track-obj {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    overflow: hidden;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    position: relative;

    &:hover {
        box-shadow: 0px 0px 4px black;
    }

    div.track-post-img {            &.section-right {

    }
        height: 160px;
        width: 160px;
        float: left;
        border: 1px solid #ddd;
        margin: 10px 10px;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
    }

    p {
        margin: 0;
    }
    a {
        display: inline-block;
    }
    div.title-author-wrapper {
        display: inline-block;
        margin-left: 15px;
        position: absolute;
        top: 0;
        left: 240px;

        .track-title {
            margin-top: 7px;
            font-size: 25px;
        }
        .track-author {
            font-size: 18px;
            color: black;
            &:hover {
                font-weight: bold;
            }
        }
    }

    div.play-btn-wrapper {
        position: relative;
        display: inline-block;


        div.play-btn {
            display: block;
            top: 0;
            width: 42px;
            height: 42px;
            margin-top: 18px;
            margin-left: 20px;
            color: #333533;
            transition: 0.2s ease;
            cursor: pointer;

            &:hover {
                color: #E2B026;
            }
        }
    }



    div.track-social-count {
        position: relative;
        top: 10px;
        right: 20px;
        float: right;

        .item {
            margin-right: 3px;
            font-size: 25px;
            display: inline;
            color: #333533;

            .like-btn {
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: #E2B026;
                }
            }

            .glyphicon-heart {
                color: #E2B026;
            }

            span {
                margin: 0 3px;
                vertical-align: middle;
            }
        }
    }
    div.track-genre {
        float: left;
        width: 100%;
        margin: 0 20px;
        margin-bottom: 15px;

        span.track-genre-item {
            font-size: 17px;
            background-color: #333533;
            color: white;
            padding: 0 10px;
            padding-bottom: 2px;
            border-radius: 15px;
        }
    }

    div.playtime {
        position: absolute;
        right: 20px;
        top: 55px;
        font-size: 18px;
        padding: 0 5px;
    }

    div.waveform-wrapper {
        position: relative;
        float: left;
        opacity: 0.5;
        transition: 0.2s;
        top: 30px;
        left: 25px;
        height: 80px;
        width: 600px;

        &:hover {
            opacity: 1;
        }

        img.back-image {
            position: absolute;
            z-index: 0;
            width: 600px;
            height: 80px;
            cursor: pointer;
        }
        div.cutter {
            z-index: 1;
            position: absolute;
            width: 0px;
            height: 100%;
            overflow: hidden;
            pointer-events: none;
        }
        img.cover-image {
            position: absolute;
            width: 600px;
            height: 80px;
        }


    }
}

button.more-btn {
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    background: transparent;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 20px;
    transition: 0.2s;
    &:hover {
        color: #ff0000;
    }
}

// profile body ends

// liked posts list

div.section-right {
    font-family: 'Source Sans Pro', sans-serif;
    width: 30%;
    float: right;

    a {
        color: black;
        &:hover {
            color: black;
        }
    }

    p {
        margin: 0;
    }

    .liked-posts-list {
        margin-top: 13px;

        .liked-posts-headline {
            border-bottom: 1px solid #ddd;
            font-size: 20px;
            padding-bottom: 5px;
        }

        .liked-list-icon {
            color: #E2B026;
            margin: 0 3px;
        }

        .liked-list-title {
            vertical-align: text-bottom;
        }

        .liked-posts-count {
            float: right;

            .liked-count {
                vertical-align: text-bottom;
            }
        }

        .liked-posts-contents {

            .view-all-list {
                border-top: 1px solid #ddd;
                margin-top: 10px;
                padding-right: 5px;
                text-align: right;
                font-size: 16px;
            }
        }
    }
}

div.no-liked-posts {
    width: 100%;
    height: 150px;
    padding: 27px;
    color: #aaa;

    p.line1 {
        text-align: center;
        font-size: 40px;
    }

    p.line2 {
        font-size: 20px;
        text-align: center;
    }
}


div.liked-post-obj {
    margin-top: 10px;
    margin-left: 5px;
    width: 100%;
    height: 50px;

    div.liked-post-img {
        width: 50px;
        height: 50px;
        display: inline-block;
        float: left;
        border: 1px solid #ddd;
        border-radius: 2px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    div.liked-post-obj-contents {
        float: left;
        margin-left: 5px;
        width: 280px;

        .liked-post-info-1 {
            float: left;

            .obj-title {
                color: #888;
                font-size: 17px;
            }

            .obj-author {
                font-size: 14px;
            }
        }

        .liked-post-info-2 {
            float: right;
            font-size: 16px;

            span.liked-count-icon {
                color: #E2B026;
            }
        }
    }
}

// liked posts ends


// follower list

div.follower-list {
    margin: 60px 0;

    div.follower-list-headline {
        border-bottom: 1px solid #ddd;
        font-size: 20px;
        padding-bottom: 5px;

        .follower-list-icon {
            color: #E2B026;
            margin-right: 2px;
        }

        .follower-count {
            float: right;
        }
    }
}

div.no-followers {
    width: 100%;
    height: 150px;
    color: #aaa;
    padding: 27px;

    p.line1 {
        text-align: center;
        font-size: 40px;
    }

    p.line2 {
        font-size: 20px;
        text-align: center;
    }
}
