div.background {
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    display: inline-block;
    position: fixed;
}

div.signin-body {
    position: fixed;
    width: 400px;
    top: calc(50% - 200px);
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    left: calc(50% - 200px);

    h2.signin-title {
        font-family: 'Fjalla One', sans-serif;
        text-align: center;
        font-size: 40px;
    }

    form {
        font-family: 'Merriweather Sans', sans-serif;
        text-align: center;
        position: relative;
        .signin-field {
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid white;
            border-radius: 3px;
            width: 280px;
            height: 40px;
            padding: 0 10px;
            font-size: 15px;
            color: white;
            margin: 10px 0;


            &:focus {
                background-color: white;
                color: black;
            }
            &::placeholder {
                color: white;
            }
        }

        p.error-msg {
            font-size: 14px;
            color: red;
            display: inline-block;
            margin: 0 auto;
            width: 100%;
        }
        input.signin-btn {
            background-color: transparent;
            border: 1px solid #E2B026;
            border-radius: 3px;
            width: 280px;
            height: 40px;
            padding: 0 10px;
            font-size: 15px;
            color: #E2B026;
            margin-top: 10px;
            margin-bottom: 30px;

            &:hover {
                background-color: #E2B026;
                color: #333533;
            }
        }
    }
    div.border {
        h3 {
            font-family: 'Fjalla One', sans-serif;
            overflow: hidden;
            text-align: center;
            width: 300px;
            font-size: 20px;
            margin: 0 auto;

            &:before, &:after {
                background-color: #7a7a7a;
                content: "";
                display: inline-block;
                height: 1px;
                position: relative;
                vertical-align: middle;
                width: 50%;
            }

            &:before {
                right: 0.5em;
                margin-left: -50%;
            }

            &:after {
                left: 0.5em;
                margin-right: -50%;
            }
        }
    }
    div.social-wrapper {
        font-family: 'Merriweather Sans', sans-serif;
        height: 40px;
        width: 300px;
        text-align: center;
        margin: 25px auto;


        img.fb-btn {
            width: 40px;
        }

        span.fb-text {
            font-size: 18px;
            vertical-align: middle;
            margin-left: 10px;
            margin-right: 20px;
        }

        img.gg-btn {
            width: 40px;
            border-radius: 2px;
        }
    }
}