// signup body starts

body::-webkit-scrollbar {
    display: none;
}

div.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0.6;
}

div.background {
    position: fixed;
    min-width: 100%;
    min-height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

div.signup-body {
    padding: 0 50px;
    padding-top: 83px;
    position: relative;
    z-index: 3;


    div.terms-of-use {
        position: relative;
        right: 0;
        float: right;
        width: 700px;
        height: 310px;

        .tou-title {
            font-family: 'Fjalla One', sans-serif;
        }

        div.tou-body {
            ul {
                padding-left: 17px;
            }
            font-family: 'Merriweather Sans', sans-serif;
            background-color: rgba(0, 0, 0, 0.8);
            font-size: 12px;
            overflow: auto;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            padding: 25px;
            text-align: justify;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .signup-box {
        position: relative;
        left: 70px;
        display: inline-block;
        width: 300px;
        text-align: center;

        .signup-title {
            font-family: 'Fjalla One', sans-serif;
            text-align: left;
            margin-left: 10px;
        }

        .signup-field {
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid white;
            border-radius: 3px;
            width: 280px;
            height: 40px;
            padding: 0 10px;
            font-size: 15px;
            color: white;
            margin: 10px 0;
            font-family: 'Merriweather Sans', sans-serif;

            &:focus {
                background-color: white;
                color: black;
            }
        }
        ul.errorlist {
            margin: 5px;
            padding: 0;
            text-align: center;
            li {
                list-style: none;
            }
        }
    }

    div.signup-box.signup-index {
        left: 0;
        width: 100%;
        top: 50px;
        a {
            div.swiper-slide {
                border-radius: 15px;
            }
            &:first-of-type {
                div.swiper-slide {
                    border-radius: 15px;
                    background-size: 250px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: white;
                }
            }
        }
    }

    div.signup-box.more-info{
        width: 100%;
        left: 0;

        div.genre {
            width: 454px;
        }
        div.instrument {
            width: 339px;
        }

        .signup-title {
            margin-left: 70px;
        }
        .select-wrapper {
            display: inline-block;
        }

        div.select-box {
            font-family: 'Fjalla One', sans-serif;
            display: inline-block;
            float: left;
            margin: 0 50px;

            .choices {
                font-family: 'Merriweather Sans', sans-serif;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"] ~ label {
                    background-color: red;
                    width: 110px;
                    height: 110px;
                }

                input[type="checkbox"]:checked + label {
                    background-color: blue;
                }
                input#id_genre_0 + label {
                    background-image: url("http://www.metalinjection.net/wp-content/uploads/2015/07/metallica-james-hetfield.jpg");
                    background-size: cover;
                    background-position: right;
                }
                input#id_genre_0:checked + label {
                    background-position: left;
                }
            }
        }
    }
}

input.signup-submit-btn {
    position: absolute;
    bottom: -44%;
    right: 0;
    border: 0;
    background-color: rgba(111, 111, 111, 0.2);
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
}

// signup-body ends

// carousel effect starts

.carousel-inner {
    overflow: unset;

    .item {
        height: 408px;
        width: 100%;
    }
}

a.carousel-control {
    z-index: 100;
    top: 76%;
    animation-name: fade-out;
    animation-duration: 0.5s;
}

@keyframes fade-out {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.carousel-indicators {
    bottom: -27%;
}

@media screen and (min-width: 768px){
    .carousel-indicators {
        bottom: -27%;
    }
}

// carousel effect ends
