// signup body starts

body::-webkit-scrollbar {
    display: none;
}

div.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0.6;
}

div.background {
    position: relative;
    width: 100%;
    height: 649px;
    background-image: url('/static/img/signup-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

div.signup-body {
    padding-left: 50px;
    position: absolute;
    z-index: 3;


    div.terms-of-use {
        position: relative;
        right: 0;
        float: right;
        width: 700px;
        height: 310px;

        .tou-title {
            font-family: 'Fjalla One', sans-serif;
        }

        div.tou-body {
            ul {
                padding-left: 17px;
            }
            font-family: 'Merriweather Sans', sans-serif;
            background-color: rgba(0, 0, 0, 0.8);
            font-size: 12px;
            overflow: auto;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            padding: 25px;
            text-align: justify;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .signup-box {
        position: relative;
        left: 70px;
        display: inline-block;
        width: 300px;
        text-align: center;

        .signup-title {
            font-family: 'Fjalla One', sans-serif;
            text-align: left;
            margin-left: 10px;
        }

        .signup-field {
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid white;
            border-radius: 3px;
            width: 280px;
            height: 40px;
            padding: 0 10px;
            font-size: 15px;
            color: white;
            margin: 10px 0;
            font-family: 'Merriweather Sans', sans-serif;

            &:focus {
                background-color: white;
                color: black;
            }
        }
    }
}

.carousel-inner {
    overflow: unset;

    .item {
        height: 408px;
        width: 100%;
    }
}

a.carousel-control {
    z-index: 100;
    top: 76%;
    animation-name: fade-out;
    animation-duration: 0.5s;
}

@keyframes fade-out {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

.carousel-indicators {
    bottom: -27%;
}

@media screen and (min-width: 768px){
    .carousel-indicators {
        bottom: -27%;
    }
}


// signup body ends