$player-height: 50px;
$dark-grey: #333533;
$dark-yellow: #E2B026;
$progress-bar-width: 85%;

.hide-player {
    overflow: hidden;
    height: 0 !important;
}

.soundhub-player {
    height: 50px;
    transition-duration: 0.2s;
    position: fixed;
    bottom: 0;
    min-width: 1250px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 2px solid $dark-yellow;
    box-sizing: content-box;

    .player-body {
        margin: 0 310px;
        color: $dark-grey;

        .player-post-img {
            position: relative;
            bottom: 0;
            width: 50px;
            height: 50px;
            background-size: cover;
            float: left;
            border: 1px solid #ddd;
            border-radius: 2px;
        }

        .player-post-info {
            display: inline-block;
            float: left;
            width: 180px;
            height: 50px;
            margin-left: 10px;

            span {
                line-height: 25px;
                display: block;
                &:hover {
                    color: black !important;
                }
            }

            span#player-post-title {
                color: #777;
            }
            span#player-post-author {
                color: #aaa;
            }
        }
        .player-controls {
            width: 110px;
            height: 50px;
            float: left;
            position: relative;
            bottom: 0;
            padding: 11px 0;

            .player-nav-btn {
                background-color: transparent;
                border: 0;
                font-size: 8px;
                vertical-align: middle;
                transition-duration: 0.2s;

                &:hover {
                    color: $dark-yellow;
                }
            }
        }

        .player-progress-bar {
            margin: 0 15px;
            display: inline-block;
            width: 650px;
            height: $player-height + 2px;
            position: relative;
            background: transparent;
            bottom: 0;
            float: left;

            .player-position-indicator {
                width: $progress-bar-width;
                height: $player-height;
                background-color: transparent;
                z-index: 0;
                position: absolute;
                cursor: pointer;
            }

            .player-progress-base {
                width: $progress-bar-width;
                height: 1px;
                background-color: $dark-grey;
                margin: $player-height/2 0;
                z-index: 1;
                position: absolute;
                pointer-events: none;

                .player-progress-cover {
                    width: 0%;
                    height: 1px;
                    background-color: $dark-yellow;
                    z-index: 1;
                    position: absolute;
                    pointer-events: none;
                    transition-duration: 0.3s;

                    .player-progress-pointer {
                        opacity: 0;
                        transition-duration: 0.3s;
                        width: 10px;
                        height: 10px;
                        background-color: $dark-yellow;
                        border-radius: 50%;
                        position: absolute;
                        right: -4px;
                        top: -4px;
                        border: 1px solid $dark-grey;
                    }
                }
            }
            .player-duration {
                position: absolute;
                top: 15px;
                right: 0;
                span {
                    vertical-align: middle;
                }
            }

        }

        .player-volume-control {
            float: left;
            height: 50px;
            padding: 14px 0;
            font-size: 10px;
        }

    }
    .playlist {
        display: inline-block;
        position: absolute;
        width: 350px;
        height: 100px;
        background-color: black;
        bottom: 41px;
        right: 60px;
    }
}