.soundhub-player {
  position: fixed;
  bottom: 0;
  min-width: 1250px;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 2px solid #E2B026; }
  .soundhub-player .player-body {
    margin: 10px 350px;
    color: #333533; }
    .soundhub-player .player-body .player-nav-btn {
      background-color: transparent;
      border: 0;
      font-size: 8px;
      vertical-align: middle; }
    .soundhub-player .player-body .player-progress-bar {
      margin: 0 15px;
      display: inline-block;
      width: 750px;
      height: 50px;
      position: absolute;
      background: transparent;
      bottom: 0; }
      .soundhub-player .player-body .player-progress-bar .player-position-indicator {
        width: 88%;
        height: 50px;
        background-color: transparent;
        z-index: 0;
        position: absolute;
        cursor: pointer; }
      .soundhub-player .player-body .player-progress-bar .player-progress-base {
        width: 88%;
        height: 1px;
        background-color: #333533;
        margin: 25px 0;
        z-index: 1;
        position: absolute;
        pointer-events: none; }
        .soundhub-player .player-body .player-progress-bar .player-progress-base .player-progress-cover {
          width: 0%;
          height: 1px;
          background-color: #E2B026;
          z-index: 1;
          position: absolute;
          pointer-events: none;
          transition-duration: 0.3s; }
          .soundhub-player .player-body .player-progress-bar .player-progress-base .player-progress-cover .player-progress-pointer {
            width: 10px;
            height: 10px;
            background-color: #E2B026;
            border-radius: 50%;
            position: absolute;
            right: 0;
            top: -4px;
            border: 1px solid #333533; }
      .soundhub-player .player-body .player-progress-bar .player-duration {
        position: absolute;
        top: 15px;
        right: 0; }
        .soundhub-player .player-body .player-progress-bar .player-duration span {
          vertical-align: middle; }
  .soundhub-player .playlist {
    display: inline-block;
    position: absolute;
    width: 350px;
    height: 100px;
    background-color: black;
    bottom: 41px;
    right: 60px; }
