.hide-player {
  overflow: hidden;
  height: 0 !important; }

.soundhub-player {
  height: 50px;
  transition-duration: 0.2s;
  position: fixed;
  bottom: 0;
  min-width: 1250px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 2px solid #E2B026;
  box-sizing: content-box; }
  .soundhub-player .player-body {
    margin: 0 auto;
    color: #333533;
    max-width: 1250px;
    height: 100%;
    padding: 0 15px; }
    .soundhub-player .player-body .player-post-img {
      position: relative;
      bottom: 0;
      width: 50px;
      height: 50px;
      background-size: cover;
      float: left;
      border: 1px solid #ddd;
      border-radius: 2px; }
    .soundhub-player .player-body .player-post-info {
      display: inline-block;
      float: left;
      width: 180px;
      height: 50px;
      margin-left: 10px; }
      .soundhub-player .player-body .player-post-info span {
        line-height: 25px;
        display: block; }
        .soundhub-player .player-body .player-post-info span:hover {
          color: black !important; }
      .soundhub-player .player-body .player-post-info span#player-post-title {
        color: #777; }
      .soundhub-player .player-body .player-post-info span#player-post-author {
        color: #aaa; }
    .soundhub-player .player-body .player-controls {
      width: 110px;
      height: 50px;
      float: left;
      position: relative;
      bottom: 0;
      padding: 11px 0; }
      .soundhub-player .player-body .player-controls .player-nav-btn {
        background-color: transparent;
        border: 0;
        font-size: 8px;
        vertical-align: middle;
        transition-duration: 0.2s; }
        .soundhub-player .player-body .player-controls .player-nav-btn:hover {
          color: #E2B026; }
    .soundhub-player .player-body .player-progress-bar {
      margin: 0 15px;
      display: inline-block;
      width: 650px;
      height: 52px;
      position: relative;
      background: transparent;
      bottom: 0;
      float: left; }
      .soundhub-player .player-body .player-progress-bar .player-position-indicator {
        width: 85%;
        height: 50px;
        background-color: transparent;
        z-index: 0;
        position: absolute;
        cursor: pointer; }
      .soundhub-player .player-body .player-progress-bar .player-progress-base {
        width: 85%;
        height: 1px;
        background-color: #333533;
        margin: 25px 0;
        z-index: 1;
        position: absolute;
        pointer-events: none; }
        .soundhub-player .player-body .player-progress-bar .player-progress-base .player-progress-cover {
          width: 0%;
          height: 1px;
          background-color: #E2B026;
          z-index: 1;
          position: absolute;
          pointer-events: none;
          transition-duration: 0.3s; }
          .soundhub-player .player-body .player-progress-bar .player-progress-base .player-progress-cover .player-progress-pointer {
            opacity: 0;
            transition-duration: 0.3s;
            width: 10px;
            height: 10px;
            background-color: #E2B026;
            border-radius: 50%;
            position: absolute;
            right: -4px;
            top: -4px;
            border: 1px solid #333533; }
      .soundhub-player .player-body .player-progress-bar .player-duration {
        position: absolute;
        top: 15px;
        right: 0; }
        .soundhub-player .player-body .player-progress-bar .player-duration span {
          vertical-align: middle; }
    .soundhub-player .player-body .volume-wrapper {
      position: relative;
      width: 50px;
      height: 50px;
      float: left; }
      .soundhub-player .player-body .volume-wrapper .volume-control-popup {
        width: 125px;
        height: 40px;
        background-color: #eee;
        position: absolute;
        right: -35px;
        bottom: 45px;
        border: 1px solid #aaa;
        border-radius: 3px; }
        .soundhub-player .player-body .volume-wrapper .volume-control-popup .popup-tail {
          width: 15px;
          height: 15px;
          background: #eee;
          position: absolute;
          bottom: -7px;
          right: calc(125px/2 - 15px/2);
          transform: rotate(45deg);
          border-radius: 3px;
          border: 1px solid #aaa; }
          .soundhub-player .player-body .volume-wrapper .volume-control-popup .popup-tail .popup-tail-crop {
            width: 15px;
            height: 26px;
            background: #eee;
            position: absolute;
            bottom: 0px;
            left: -4px;
            transform: rotate(45deg); }
      .soundhub-player .player-body .volume-wrapper .player-volume-control {
        float: left;
        height: 50px;
        width: 100%;
        font-size: 10px;
        background-color: transparent;
        border: 0; }
  .soundhub-player .playlist {
    display: inline-block;
    position: absolute;
    width: 350px;
    height: 100px;
    background-color: black;
    bottom: 41px;
    right: 60px; }
