.hide-player {
  overflow: hidden;
  height: 0 !important; }

.soundhub-player {
  z-index: 1000;
  height: 50px;
  transition-duration: 0.2s;
  position: fixed;
  bottom: 0;
  min-width: 1250px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 2px solid #E2B026;
  box-sizing: content-box; }
  .soundhub-player .player-body {
    margin: 0 auto;
    color: #333533;
    max-width: 1250px;
    height: 100%;
    padding: 0 15px; }
    .soundhub-player .player-body .player-post-img {
      position: relative;
      bottom: 0;
      width: 50px;
      height: 50px;
      background-size: cover;
      float: left;
      border-radius: 2px; }
    .soundhub-player .player-body .player-post-info {
      display: inline-block;
      float: left;
      width: 180px;
      height: 50px;
      margin-left: 10px; }
      .soundhub-player .player-body .player-post-info span {
        line-height: 25px;
        display: inline-block; }
        .soundhub-player .player-body .player-post-info span:hover {
          color: black !important; }
      .soundhub-player .player-body .player-post-info span.player-post-title {
        color: #777; }
      .soundhub-player .player-body .player-post-info span.player-post-author {
        color: #aaa; }
    .soundhub-player .player-body .player-controls {
      width: 110px;
      height: 50px;
      float: left;
      position: relative;
      bottom: 0;
      padding: 11px 0; }
      .soundhub-player .player-body .player-controls .player-nav-btn {
        background-color: transparent;
        border: 0;
        font-size: 8px;
        vertical-align: middle;
        transition-duration: 0.2s; }
        .soundhub-player .player-body .player-controls .player-nav-btn:hover {
          color: #E2B026; }
    .soundhub-player .player-body .player-progress-bar {
      margin: 0 15px;
      display: inline-block;
      width: 650px;
      height: 52px;
      position: relative;
      background: transparent;
      bottom: 0;
      float: left; }
      .soundhub-player .player-body .player-progress-bar .player-position-indicator {
        width: 85%;
        height: 50px;
        background-color: transparent;
        z-index: 0;
        position: absolute;
        cursor: pointer; }
      .soundhub-player .player-body .player-progress-bar .player-progress-base {
        width: 85%;
        height: 1px;
        background-color: #333533;
        margin: 25px 0;
        z-index: 1;
        position: absolute;
        pointer-events: none; }
        .soundhub-player .player-body .player-progress-bar .player-progress-base .player-progress-cover {
          width: 0%;
          height: 1px;
          background-color: #E2B026;
          z-index: 1;
          position: absolute;
          pointer-events: none;
          transition-duration: 0.3s; }
          .soundhub-player .player-body .player-progress-bar .player-progress-base .player-progress-cover .player-progress-pointer {
            opacity: 0;
            transition-duration: 0.3s;
            width: 10px;
            height: 10px;
            background-color: #E2B026;
            border-radius: 50%;
            position: absolute;
            right: -4px;
            top: -4px;
            border: 1px solid #333533; }
      .soundhub-player .player-body .player-progress-bar .player-duration {
        position: absolute;
        top: 15px;
        right: 0; }
        .soundhub-player .player-body .player-progress-bar .player-duration span {
          vertical-align: middle; }
    .soundhub-player .player-body .player-icon-wrapper {
      position: relative;
      width: 50px;
      height: 50px;
      float: left; }
      .soundhub-player .player-body .player-icon-wrapper .player-btn-item {
        float: left;
        height: 50px;
        width: 100%;
        font-size: 10px;
        background-color: transparent;
        border: 0; }
    .soundhub-player .player-body .volume-control-popup {
      display: none;
      width: 125px;
      height: 35px;
      background-color: #eee;
      position: absolute;
      right: -35px;
      bottom: 45px;
      border: 1px solid #aaa;
      border-radius: 3px;
      z-index: 1; }
      .soundhub-player .player-body .volume-control-popup .volume-control-indicator {
        width: 100%;
        height: 100%;
        background: transparent;
        position: absolute;
        cursor: pointer;
        z-index: 1; }
      .soundhub-player .player-body .volume-control-popup .volume-control-bar-base {
        width: 100px;
        height: 2px;
        background: #333533;
        position: absolute;
        bottom: 50%;
        left: 10%;
        pointer-events: none; }
      .soundhub-player .player-body .volume-control-popup .volume-control-bar-cover {
        width: 100px;
        min-width: 10px;
        max-width: 100px;
        height: 2px;
        background: #E2B026;
        position: absolute;
        bottom: 50%;
        left: 10%;
        pointer-events: none; }
        .soundhub-player .player-body .volume-control-popup .volume-control-bar-cover .volume-control-bar-pointer {
          width: 10px;
          height: 10px;
          background: #E2B026;
          top: -4px;
          position: relative;
          float: right;
          border-radius: 50%;
          border: 1px solid #333533;
          pointer-events: none;
          z-index: 1; }
      .soundhub-player .player-body .volume-control-popup .popup-tail {
        width: 15px;
        height: 15px;
        background: #eee;
        position: absolute;
        bottom: -7px;
        right: calc(125px/2 - 15px/2);
        transform: rotate(45deg);
        border-radius: 3px;
        border: 1px solid #aaa; }
        .soundhub-player .player-body .volume-control-popup .popup-tail .popup-tail-crop {
          width: 15px;
          height: 26px;
          background: #eee;
          position: absolute;
          bottom: 0px;
          left: -4px;
          transform: rotate(45deg); }
  .soundhub-player .disappear {
    bottom: -500px !important; }
  .soundhub-player .hide-menu {
    display: none !important; }
  .soundhub-player div#playlist-wrapper {
    display: inline-block;
    position: absolute;
    width: 350px;
    height: 480px;
    background-color: whitesmoke;
    bottom: 55px;
    right: 310px;
    list-style: none;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px -2px black;
    padding: 0;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); }
    .soundhub-player div#playlist-wrapper div#playlist-headline {
      width: 100%;
      height: 40px;
      font-size: 15px;
      line-height: 40px;
      padding-left: 15px;
      border-bottom: 1px solid #ddd; }
      .soundhub-player div#playlist-wrapper div#playlist-headline button#playlist-close-btn {
        float: right;
        margin-right: 10px;
        font-size: 25px;
        background-color: transparent;
        border: 0; }
    .soundhub-player div#playlist-wrapper div.playlist-content {
      height: calc(100% - 40px);
      width: 100%;
      overflow: auto; }
      .soundhub-player div#playlist-wrapper div.playlist-content ul.playlist-popover {
        display: inline-block;
        width: 100%;
        background-color: whitesmoke;
        list-style: none;
        padding: 0; }
        .soundhub-player div#playlist-wrapper div.playlist-content ul.playlist-popover li.player-playlist-item {
          width: 100%;
          height: 50px;
          margin: 5px 0;
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          position: relative; }
          .soundhub-player div#playlist-wrapper div.playlist-content ul.playlist-popover li.player-playlist-item:hover {
            background-color: #f0f0f0; }
            .soundhub-player div#playlist-wrapper div.playlist-content ul.playlist-popover li.player-playlist-item:hover .playlist-item-more {
              color: black; }
          .soundhub-player div#playlist-wrapper div.playlist-content ul.playlist-popover li.player-playlist-item .playlist-item-grab-handle {
            height: 100%;
            width: 20px;
            display: inline-block; }
          .soundhub-player div#playlist-wrapper div.playlist-content ul.playlist-popover li.player-playlist-item > a {
            width: calc(100% - 60px);
            color: black;
            display: inline-block; }
            .soundhub-player div#playlist-wrapper div.playlist-content ul.playlist-popover li.player-playlist-item > a span.player-post-duration {
              float: left;
              line-height: 50px;
              color: #777;
              font-size: 13px; }
          .soundhub-player div#playlist-wrapper div.playlist-content ul.playlist-popover li.player-playlist-item button.playlist-item-more {
            float: right;
            line-height: 50px;
            width: 40px;
            text-align: center;
            color: transparent;
            border: 0;
            transition-duration: 0.3s;
            background-color: transparent; }
        .soundhub-player div#playlist-wrapper div.playlist-content ul.playlist-popover ul#more-action-menu {
          position: absolute;
          background: whitesmoke;
          border: 1px solid #ddd;
          color: black;
          list-style: none;
          padding: 0;
          text-align: left;
          top: 20px;
          right: -156px; }
          .soundhub-player div#playlist-wrapper div.playlist-content ul.playlist-popover ul#more-action-menu li.more-action-menu-item {
            width: 150px;
            line-height: 40px;
            border-bottom: 1px solid #ddd; }
            .soundhub-player div#playlist-wrapper div.playlist-content ul.playlist-popover ul#more-action-menu li.more-action-menu-item button.more-action-like {
              width: 100%;
              height: 100%;
              background: transparent;
              text-align: left;
              border: 0; }
        .soundhub-player div#playlist-wrapper div.playlist-content ul.playlist-popover .playing {
          background-color: #f0f0f0 !important; }
