$player-height: 50px;
$dark-grey: #333533;
$dark-yellow: #E2B026;
$progress-bar-width: 85%;

.hide-player {
    overflow: hidden;
    height: 0 !important;
}

.soundhub-player {
    height: 50px;
    transition-duration: 0.2s;
    position: fixed;
    bottom: 0;
    min-width: 1250px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 2px solid $dark-yellow;
    box-sizing: content-box;

    .player-body {
        margin: 0 auto;
        color: $dark-grey;
        max-width: 1250px;
        height: 100%;
        padding: 0 15px;

        .player-post-img {
            position: relative;
            bottom: 0;
            width: 50px;
            height: 50px;
            background-size: cover;
            float: left;
            border: 1px solid #ddd;
            border-radius: 2px;
        }

        .player-post-info {
            display: inline-block;
            float: left;
            width: 180px;
            height: 50px;
            margin-left: 10px;

            span {
                line-height: 25px;
                display: block;
                &:hover {
                    color: black !important;
                }
            }

            span#player-post-title {
                color: #777;
            }
            span#player-post-author {
                color: #aaa;
            }
        }
        .player-controls {
            width: 110px;
            height: 50px;
            float: left;
            position: relative;
            bottom: 0;
            padding: 11px 0;

            .player-nav-btn {
                background-color: transparent;
                border: 0;
                font-size: 8px;
                vertical-align: middle;
                transition-duration: 0.2s;

                &:hover {
                    color: $dark-yellow;
                }
            }
        }

        .player-progress-bar {
            margin: 0 15px;
            display: inline-block;
            width: 650px;
            height: $player-height + 2px;
            position: relative;
            background: transparent;
            bottom: 0;
            float: left;

            .player-position-indicator {
                width: $progress-bar-width;
                height: $player-height;
                background-color: transparent;
                z-index: 0;
                position: absolute;
                cursor: pointer;
            }

            .player-progress-base {
                width: $progress-bar-width;
                height: 1px;
                background-color: $dark-grey;
                margin: $player-height/2 0;
                z-index: 1;
                position: absolute;
                pointer-events: none;

                .player-progress-cover {
                    width: 0%;
                    height: 1px;
                    background-color: $dark-yellow;
                    z-index: 1;
                    position: absolute;
                    pointer-events: none;
                    transition-duration: 0.3s;

                    .player-progress-pointer {
                        opacity: 0;
                        transition-duration: 0.3s;
                        width: 10px;
                        height: 10px;
                        background-color: $dark-yellow;
                        border-radius: 50%;
                        position: absolute;
                        right: -4px;
                        top: -4px;
                        border: 1px solid $dark-grey;
                    }
                }
            }
            .player-duration {
                position: absolute;
                top: 15px;
                right: 0;
                span {
                    vertical-align: middle;
                }
            }
        }

        .volume-wrapper {
            position: relative;
            width: 50px;
            height: 50px;
            float: left;

            .volume-control-popup {
                display: none;
                width: 125px;
                height: 35px;
                background-color: #eee;
                position: absolute;
                right: -35px;
                bottom: 45px;
                border: 1px solid #aaa;
                border-radius: 3px;

                .volume-control-indicator {
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    position: absolute;
                    cursor: pointer;
                    z-index: 1;
                }

                .volume-control-bar-base {
                    width: 100px;
                    height: 2px;
                    background: $dark-grey;
                    position: absolute;
                    bottom: 50%;
                    left: 10%;
                    pointer-events: none;
                }
                .volume-control-bar-cover {
                    width: 100px;
                    min-width: 10px;
                    max-width: 100px;
                    height: 2px;
                    background: $dark-yellow;
                    position: absolute;
                    bottom: 50%;
                    left: 10%;
                    pointer-events: none;

                    .volume-control-bar-pointer {
                        width: 10px;
                        height: 10px;
                        background: $dark-yellow;
                        top: -4px;
                        position: relative;
                        float: right;
                        border-radius: 50%;
                        border: 1px solid $dark-grey;
                        pointer-events: none;
                        z-index: 1;
                    }
                }

                .popup-tail {
                    width: 15px;
                    height: 15px;
                    background: #eee;
                    position: absolute;
                    bottom: -7px;
                    right: calc(125px/2 - 15px/2);
                    transform: rotate(45deg);
                    border-radius: 3px;
                    border: 1px solid #aaa;

                    .popup-tail-crop {
                        width: 15px;
                        height: 26px;
                        background: #eee;
                        position: absolute;
                        bottom: 0px;
                        left: -4px;
                        transform: rotate(45deg);
                    }
                }
            }

            .player-volume-control {
                float: left;
                height: 50px;
                width: 100%;
                font-size: 10px;
                background-color: transparent;
                border: 0;
            }
        }
    }
    .playlist {
        display: inline-block;
        position: absolute;
        width: 350px;
        height: 100px;
        background-color: black;
        bottom: 41px;
        right: 60px;
    }
}