.soundhub-player {
  position: fixed;
  bottom: 0;
  min-width: 1250px;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 2px solid #E2B026; }
  .soundhub-player .player-body {
    line-height: 50px;
    text-align: center;
    color: #333533; }
    .soundhub-player .player-body #player-play-btn {
      background-color: transparent;
      border: 0;
      font-size: 8px;
      vertical-align: sub; }
    .soundhub-player .player-body span {
      vertical-align: middle; }
