/* general starts */
body {
  background-color: #333533;
  color: #E8EDDF; }

a {
  color: #E8EDDF; }

a:hover {
  text-decoration: none; }

.transition {
  transition: 0.2s ease; }

/* general ends */
/* header starts */
div.header {
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: #333533; }
  @media (min-width: 768px) {
    div.header {
      left: calc(50% - 750px/2); } }
  @media (min-width: 992px) {
    div.header {
      left: calc(50% - 970px/2); } }
  @media (min-width: 1200px) {
    div.header {
      left: calc(50% - 1250px/2); } }

div.header-scrolled {
  height: 50px; }

div.wrapper {
  border-top: 3px solid #E2B026;
  height: 80px; }

div.wrapper-scrolled {
  height: 50px;
  box-shadow: 3px 2px 20px 0px black; }

img.title-logo {
  margin: 15px;
  height: 50px;
  float: left; }

img.title-logo-scrolled {
  margin: 8px;
  margin-left: 15px;
  height: 30px; }

div.header-buttons {
  margin-right: 15px;
  float: right;
  vertical-align: middle;
  height: 80px;
  font-family: 'Merriweather Sans', sans-serif; }

div.header-buttons-scrolled {
  height: 50px; }

a.signin-btn {
  margin: 20px 0;
  margin-right: 10px;
  background: transparent;
  border: 1px solid #E8EDDF;
  border-radius: 3px;
  padding: 7px;
  text-align: center;
  vertical-align: middle;
  transition-duration: 0.1s; }
  a.signin-btn:hover {
    background-color: #E8EDDF;
    color: #333533;
    transition-duration: 0.1s; }

a.signup-btn {
  line-height: 78px;
  margin: 20px 0;
  background: #E2B026;
  color: #333533;
  border: 1px solid #E2B026;
  border-radius: 3px;
  padding: 7px;
  text-align: center;
  vertical-align: middle; }

a.signup-btn-scrolled {
  line-height: 48px; }

/* header ends */
/* contents starts */
div.contents {
  margin-top: 85px; }

div.jumbotron {
  background-color: transparent;
  background-size: cover;
  font-family: 'Fjalla One', sans-serif; }
  div.jumbotron div.search-bar {
    margin-top: 80px;
    font-family: 'Merriweather Sans', sans-serif; }
    div.jumbotron div.search-bar form.search-form {
      margin: 0 auto;
      height: 40px;
      width: 600px; }
    div.jumbotron div.search-bar input.search-field {
      border-radius: 3px 0 0 3px;
      border: 0;
      height: 100%;
      width: 85%;
      vertical-align: middle;
      float: left;
      opacity: 0.8;
      color: black;
      font-size: 15px;
      padding: 10px; }
      div.jumbotron div.search-bar input.search-field:focus {
        outline: none;
        opacity: 1; }
    div.jumbotron div.search-bar input.search-btn {
      border-radius: 0 3px 3px 0;
      height: 100%;
      width: 15%;
      vertical-align: middle;
      border: 0px;
      background-image: url("../img/search-icon.png");
      color: white;
      font-size: 18px;
      background-color: #333533;
      opacity: 0.8; }
      div.jumbotron div.search-bar input.search-btn:focus {
        outline: none;
        box-shadow: inset 1px 1px 20px 1px black; }
  div.jumbotron p {
    text-align: center; }
    div.jumbotron p:first-of-type {
      margin: 15px 0 10px 0; }
  div.jumbotron div.signup-btn-wrapper {
    width: 100%;
    text-align: center; }
    div.jumbotron div.signup-btn-wrapper button.signup-btn {
      color: #E2B026;
      font-family: 'Merriweather Sans', sans-serif;
      border: 1px solid #E2B026;
      border-radius: 2px;
      background-color: transparent;
      font-size: 15px;
      padding: 7px 20px; }
      div.jumbotron div.signup-btn-wrapper button.signup-btn:hover {
        background-color: #E2B026;
        color: white; }
      div.jumbotron div.signup-btn-wrapper button.signup-btn:focus {
        outline-color: #ffbe00e8;
        transition-duration: 0.2s; }
  div.jumbotron .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    float: right;
    text-align: center;
    top: 20px;
    left: 45px; }

div.jumbotron span {
  font-size: 20px; }

div.jumbotron strong {
  color: #E2B026; }

div.slideshow-container {
  width: 1220px;
  height: 600px; }
  div.slideshow-container a.prev {
    font-size: 30px;
    position: relative;
    top: 300px;
    float: left;
    left: 10px;
    color: #ddd;
    cursor: pointer;
    z-index: 2; }
    div.slideshow-container a.prev:hover {
      color: #333533; }
  div.slideshow-container a.next {
    font-size: 30px;
    position: relative;
    top: 300px;
    float: right;
    right: 10px;
    color: #ddd;
    cursor: pointer;
    z-index: 2; }
    div.slideshow-container a.next:hover {
      color: #333533; }

div.contents div.pop-posts {
  position: absolute;
  z-index: 1;
  background-image: url("/static/img/crowd.jpg");
  background-size: cover;
  overflow: hidden;
  color: black;
  padding: 20px;
  height: 600px;
  width: 1220px; }
  div.contents div.pop-posts h2.pop-posts-title {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #bbb;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px; }
  div.contents div.pop-posts h3.pop-posts-title {
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-top: 130px;
    border-bottom: 1px solid #bbb;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px; }
    div.contents div.pop-posts h3.pop-posts-title a {
      color: black; }
  div.contents div.pop-posts span.pop-posts-p {
    font-size: 14px;
    font-family: 'Merriweather Sans', sans-serif; }
  div.contents div.pop-posts div.obj-wrapper {
    width: 1100px;
    margin: 20px auto 0 auto; }

div.pop-posts div.post-obj {
  width: 200px;
  height: 270px;
  float: left;
  margin-right: 25px; }
  div.pop-posts div.post-obj:first-child {
    text-align: justify; }
  div.pop-posts div.post-obj:nth-child(5n) {
    margin-right: 0px; }
  div.pop-posts div.post-obj div.post-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    float: left;
    border: 1px solid #CFDBD5; }
  div.pop-posts div.post-obj p.post-title {
    text-align: left;
    font-size: 1.1em;
    margin: 0 5px;
    font-family: 'Catamaran', sans-serif;
    color: black; }
  div.pop-posts div.post-obj p.post-author {
    text-align: left;
    color: #4c4c4c;
    margin: 0 5px;
    font-family: 'Catamaran', sans-serif; }

/* contents ends */
#popup-layer {
  display: none;
  font-family: 'Dosis', sans-serif; }

.pop-layer .pop-container {
  padding: 20px 25px; }

.pop-container {
  background-color: #333533;
  box-shadow: 4px 4px 20px 0px black; }

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px; }

.pop-layer .btn-r {
  width: 100%;
  margin: 20px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #777;
  text-align: right; }
  .pop-layer .btn-r h3.social-signin {
    text-align: left;
    margin: 0px;
    margin-bottom: 15px; }
  .pop-layer .btn-r div.social-wrapper {
    height: 40px;
    width: 300px;
    text-align: left;
    margin: 0 auto; }
    .pop-layer .btn-r div.social-wrapper img.fb-btn {
      width: 40px; }
    .pop-layer .btn-r div.social-wrapper span.fb-text {
      font-size: 25px;
      vertical-align: middle;
      margin-left: 10px;
      margin-right: 20px; }
    .pop-layer .btn-r div.social-wrapper img.gg-btn {
      width: 40px;
      border-radius: 2px; }

.pop-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: auto;
  background-color: #fff;
  border: 1px solid #333533;
  border-radius: 3px;
  z-index: 10; }

.dim-layer {
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  filter: alpha(opacity=50); }

.dim-layer .pop-layer {
  display: block; }

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid white;
  border-radius: 2px;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
  margin-top: 15px; }

a.btn-layerClose:hover {
  border: 1px solid white;
  background-color: white;
  color: #333533; }

div.pop-conts {
  text-align: center; }
  div.pop-conts h3.signin-title {
    text-align: left;
    margin-bottom: 15px; }
  div.pop-conts form {
    text-align: center; }
    div.pop-conts form div.form-field {
      text-align: center;
      margin: 10px 0; }
    div.pop-conts form input.signin-field {
      background-color: white;
      color: #333533;
      border: 1px solid #ddd;
      border-radius: 2px;
      width: 300px;
      height: 40px;
      font-size: 20px;
      padding: 6px; }
    div.pop-conts form input.submit-btn {
      background: transparent;
      color: #E2B026;
      border: 1px solid #E2B026;
      border-radius: 2px;
      width: 300px;
      height: 35px;
      font-size: 15px; }
      div.pop-conts form input.submit-btn:hover {
        background-color: #E2B026;
        color: #333533; }

/*# sourceMappingURL=../../../../../../../static/css/index.css.map */