<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Mixer!!</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="track-1">
        <input type="file" name="track-2">
        <!--<input type="file" name="track-3">-->
        <input type="submit" value="Mix!">
    </form>

    <audio src="/media/mixed.mp3" controls></audio>

</body>
</html>