[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/root/.pyenv/versions/app/bin/uwsgi -i /srv/app/.config/uwsgi/uwsgi.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target