{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% block links %}
    {% endblock links %}
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather+Sans|Roboto+Condensed|Dosis" rel="stylesheet">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    {% if request.user.is_authenticated %}
    <script src="{% static 'js/header.js' %}"></script>
    {% else %}
    <script src="{% static 'js/header-no-auth.js' %}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    {% endif %}
    {% block scripts %}
    {% endblock scripts %}

    <title>SoundHub</title>

</head>
<body>
{% include 'header.html' %}

{% block content %}
{% endblock content %}

</body>
</html>