{% extends 'base.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock links %}
{% block scripts %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock scripts %}

{% block content %}
<!--content body-->
<div class="container contents">
    <!--Jumbotron-->
    <div class="jumbotron" style="background-image: url('static/img/jumbotron.png')">
        <h1>Welcome to SoundHub!</h1>
        <span><strong>SoundHub</strong> is a place where artists from all around the world can get together to create unique style of music!</span><br>
        <span>Join SoundHub to create your own music and share it to other artists from around the world!</span>
        <div class="search-bar">
            <form class="search-form" action="">
                <input class="search-field transition" type="text" placeholder="Search for artists, tracks, genre, instrument...">
                <input class="search-btn" type="submit" value="Search">
            </form>
        </div>
        <p>or</p>
        <p>Sign up to upload your own music</p>
        <div class="signup-btn-wrapper">
            <a href="{% url 'views:user:sign-up' %}"><button class="signup-btn transition">Sign up for free</button></a>
        </div>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
    <!--End of jumbotron-->
    <div class="slideshow-container">
        <a class="prev transition" onclick="plusSlides(1)">&#10094;</a>
        <a class="next transition" onclick="plusSlides(-1)">&#10095;</a>
        <!--Recent Posts-->
        {% include 'index/recent-posts.html' %}
        <!--End of recent posts-->
        <!--Pop users-->
        {% include 'index/pop-users.html' %}
        <!--End of pop users-->
        <!--Popular posts-->
        {% include 'index/pop-posts.html' %}
        <!--End of Popular Posts-->
    </div>
</div>
<!--End of content body-->
<!--Sign-in pop-up layer-->
{% include 'index/popup-signin.html' %}
<!--End of sign-in pop-up layer-->

{{ sign_up }}

{% endblock content %}
