{% load static %}
{% load sass_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% sass_src 'css/index.scss' %}">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather+Sans|Catamaran|Dosis" rel="stylesheet">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <title>SoundHub</title>
</head>
<body>
<!--header-->
<div id="header" class="header container">
    <div id="wrapper" class="wrapper">
        <a href="/"><img id="title-logo" class="title-logo" src="{% static 'img/logo.png' %}" alt=""></a>
        <div class="header-buttons">
            <a class="signin-btn" href="#sign-in">Sign in</a>
            <a id="signup-btn" class="signup-btn" href="#layer2">Create Account</a>
        </div>
    </div>
</div>
<!--End of header-->
<!--content body-->
<div class="container contents">
    <!--Jumbotron-->
    <div class="jumbotron" style="background-image: url('static/img/jumbotron.png')">
        <h1>Welcome to SoundHub!</h1>
        <span><strong>SoundHub</strong> is a place where artists from all around the world can get together to create unique style of music!</span><br>
        <span>Join SoundHub to create your own music and share it to other artists from around the world!</span>
        <div class="search-bar">
            <form class="search-form" action="">
                <input class="search-field transition" type="text" placeholder="Search for artists, tracks, genre, instrument...">
                <input class="search-btn" type="submit" value="Search">
            </form>
        </div>
        <p>or</p>
        <p>Sign up to upload your own music</p>
        <div class="signup-btn-wrapper">
            <button class="signup-btn transition">Sign up for free</button>
        </div>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
    <!--End of jumbotron-->
    <div class="slideshow-container">
        <a class="prev transition" onclick="plusSlides(1)">&#10094;</a>
        <a class="next transition" onclick="plusSlides(-1)">&#10095;</a>
        <!--Recent Posts-->
        <div class="recent-posts pop-posts slide slide-fade">
            <div class="obj-wrapper">
                <div class="post-obj">
                    <h2 class="pop-posts-title">Recent<br>Posts</h2>
                    <span class="pop-posts-p">Check out some of the most recent tracks in SoundHub community!</span>
                </div>
                {% for post in recent_posts %}
                <div class="post-obj">
                    {% if post.post_img.name == '' %}
                    <div class="post-img" style="background-image: url('static/img/default-post-img.png'); background-size:unset;"></div>
                    {% else %}
                    <div class="post-img" style="background-image: url('{{ post.post_img.url }}')"></div>
                    {% endif %}
                    <p class="post-title">{{ post.title|truncatechars:30 }}</p>
                    <p class="post-author">{{ post.author }}</p>
                </div>
                {% endfor %}
                <div class="post-obj">
                    <h3 class="pop-posts-title"><a href="">More<br>Recent Posts...</a></h3>
                </div>
            </div>
        </div>
        <!--End of recent posts-->
        <!--Pop users-->
        <div class="pop-users pop-posts slide slide-fade">
            <div class="obj-wrapper">
                <div class="post-obj">
                    <h2 class="pop-posts-title">Popular<br>Artists</h2>
                    <span class="pop-posts-p">Check out some of the most popular artists in SoundHub community!</span>
                </div>
                {% for user in pop_users %}
                <div class="post-obj">
                    {% if user.profile_img.name == '' %}
                    <div class="post-img" style="background-image: url('static/img/default-profile.png');"></div>
                    {% else %}
                    <div class="post-img" style="background-image: url('{{ user.profile_img.url }}')"></div>
                    {% endif %}
                    <p class="post-title">{{ user.nickname }}</p>
                    <p class="post-author">{{ user.total_liked }}</p>
                </div>
                {% endfor %}
                <div class="post-obj">
                    <h3 class="pop-posts-title"><a href="">More<br>Popular Artists...</a></h3>
                </div>
            </div>
        </div>
        <!--End of pop users-->
        <!--Popular posts-->
        <div class="pop-posts slide slide-fade">
            <div class="obj-wrapper">
                <div class="post-obj">
                    <h2 class="pop-posts-title">Popular<br>Posts</h2>
                    <span class="pop-posts-p">Check out some of the most popular tracks in SoundHub community!</span>
                </div>
                {% for post in pop_posts %}
                <div class="post-obj">
                    {% if post.post_img.name == '' %}
                    <div class="post-img" style="background-image: url('static/img/default-post-img.png'); background-size:unset;"></div>
                    {% else %}
                    <div class="post-img" style="background-image: url('{{ post.post_img.url }}')"></div>
                    {% endif %}
                    <p class="post-title">{{ post.title|truncatechars:30 }}</p>
                    <p class="post-author">{{ post.author }}</p>
                </div>
                {% endfor %}
                <div class="post-obj">
                    <h3 class="pop-posts-title"><a href="">More<br>Popular Posts...</a></h3>
                </div>
            </div>
        </div>
        <!--End of Popular Posts-->
    </div>
</div>
<!--End of content body-->
<!--Sign-in pop-up layer-->
<div id="popup-layer" class="dim-layer">
    <div class="dimBg"></div>
    <div id="sign-in" class="pop-layer">
        <div class="pop-container">
            <div class="pop-conts">
                <!--Sign-in contents-->
                <img class="soundhub-logo" src="{% static 'img/soundhub-logo.png' %}" alt="">
                <h3 class="signin-title">Sign in</h3>
                <form action="{% url 'views:user:sign-in' %}" method="post">
                    {% csrf_token %}
                    {% for field in sign_in %}
                    <div class="form-field">
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input type="submit" class="submit-btn transition" value="Sign in">
                </form>
                <div class="btn-r">
                    <h3 class="social-signin">Or continue with...</h3>
                    <div class="social-wrapper">
                        <a href=""><img class="fb-btn" src="{% static 'img/facebook.png' %}" alt=""><span class="fb-text">Facebook</span></a>
                        <a href=""><img class="gg-btn" src="{% static 'img/google.png' %}" alt=""><span class="fb-text">Google</span></a>
                    </div>
                    <a href="#" class="btn-layerClose transition">Close</a>
                </div>
                <!--End of sign-in contents-->
            </div>
        </div>
    </div>
</div>
<!--End of sign-in pop-up layer-->

</body>
</html>