{% load static %}

<div class="soundhub-player hide-player">
    <div class="player-body">
        <img id="player-post-img" class="player-post-img" src="{% static 'img/default-post-img.png' %}">
        <div class="player-post-info">
            <a id="player-post-title" class="player-post-title" href="">Audio Track</a>
            <a id="player-post-author" class="player-post-author" href="">Not Loaded</a>
        </div>

        <div class="player-controls">
            <button id="player-prev-btn" class="player-nav-btn" onclick="playPrevNext('prev')"><i class="fas fa-step-backward fa-2x"></i></button>
            <button id="player-play-btn" class="player-nav-btn" onclick="playAudio();"><i class="fas fa-play fa-3x"></i></button>
            <button id="player-next-btn" class="player-nav-btn" onclick="playPrevNext('next')"><i class="fas fa-step-forward fa-2x"></i></button>
        </div>
        <div class="player-progress-bar">
            <div class="player-position-indicator" onclick="seekFromPlayer(this, event)"></div>
            <div class="player-progress-base">
                <div class="player-progress-cover">
                    <div class="player-progress-pointer"></div>
                </div>
            </div>

            <div class="player-duration">
                <span id="player-current-time">00:00</span> |
                <span id="player-total-duration">00:00</span>
            </div>

        </div>

        <div class="player-icon-wrapper">
            <button onclick="muteVolumeToggle()" class="player-volume-control player-btn-item" >
                <i class="fas fa-volume-up fa-2x"></i>
            </button>
            <div class="volume-control-popup">
                <div class="volume-control-indicator" onclick="playerVolumeControl(this, event)"></div>
                <div class="volume-control-bar-base"></div>
                <div class="volume-control-bar-cover">
                    <div class="volume-control-bar-pointer"></div>
                </div>
                <div class="popup-tail"><div class="popup-tail-crop"></div></div>
            </div>

        </div>

        <div class="player-icon-wrapper">
            <button class="player-playlist-btn player-btn-item" onclick="togglePlaylist()">
                <i class="far fa-2x fa-list-alt"></i>
            </button>
        </div>

        <div id="playlist-wrapper" class="disappear">
            <div id="playlist-headline">Playlist<button id="playlist-close-btn" onclick="togglePlaylist()"><i class="fas fa-times"></i></button></div>
            <div class="playlist-content">
                <ul id="player-playlist" class="playlist-popover disappear">
                    <ul id="more-action-menu" class="" data-target="">
                        <li class="more-action-menu-item menu-item">
                            More Actions
                        </li>
                        <li class="more-action-menu-item menu-item">
                            <button class="more-action-like menu-item" onclick="like()">
                                <span class="no-pointer-event"><i class="fas fa-heart"></i> Like</span>
                            </button>
                        </li>
                        <li class="more-action-menu-item menu-item">
                            <button class="more-action-delete menu-item" onclick="deleteFromPlaylist(this)">
                                <span class="no-pointer-event"><i class="fas fa-trash-alt"></i> Delete</span>
                            </button>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/soundhub-player.js' %}"></script>

<script>

</script>