{% load static %}

<div class="soundhub-player">
    <ul id="player-playlist" class="playlist">
        <li class="player-playlist-item">Song 1</li>
    </ul>
    <div class="player-body">
        <button id="player-play-btn" onclick="playerBtn(this)"><i class="fas fa-play fa-3x"></i></button>
        <span id="player-current-time">00:00</span> |
        <span id="player-total-duration">00:00</span>
    </div>
</div>

<script src="{% static 'js/soundhub-player.js' %}"></script>

<script>

</script>