{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block links %}
<link rel="stylesheet" href="{% sass_src 'css/signup.scss' %}">
{% endblock links %}
{% block scripts %}
{% endblock scripts %}

{% block content %}
<div class="background">
    <div class="mask"></div>
    <div class="signup-body contents container">
        <h1 class="signup-title">Create Account</h1>
        <div class="signup-box">
            {% for field in sign_up %}
                {{ field }}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}