{% load static %}

<div class="comment-track" data-instrument="{{ comment.instrument }}" id="comment-{{ comment.pk }}" data-pk="{{ comment.pk }}" data-type="track">

    <audio id="comment-track-{{ comment.pk }}" class="comment-track audio-file" preload="metadata" ontimeupdate="updateAudioInfo(this, false);updatePlayerProgress(this)" onended="resetWaveform(this)" onloadedmetadata="setTotalDuration(this)">
        <source src="{{ comment.comment_track.url }}">
    </audio>

    <a href="{% url 'views:user:user-detail' pk=comment.author.pk %}">
        {% if comment.author.profile_img.name == "" %}
            <img class="track-post-img track-profile-img" src="{% static 'img/default-profile.png' %}">
        {% else %}
            <img class="track-post-img track-profile-img" src="{{ comment.author.profile_img.url }}">
        {% endif %}
    </a>

    <div class="track-info">
        <!-- PLAY BTN -->
        <div draggable="false" id="comment-play-btn-{{ comment.pk }}" data-target="comment-track-{{ comment.pk }}" class="track-play-btn play-btn" onclick="loadAudio(this);playAudio();updatePlayerPostInfo();"><i class="fas fa-play-circle fa-3x"></i></div>
        <h1 class="track-title">{{ comment.instrument }} Track</h1>
        <a href="{% url 'views:user:user-detail' pk=comment.author.pk %}"><p class="track-author">by {{ comment.author }}</p></a>

        <button class="add-to-mixer-btn">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="to-mixer-text">Add to Mixer</span>
        </button>

        <!-- track duration -->
        <div class="playtime">
            <span id="playtime-current-{{ track.pk }}" class="track-duration-current">00:00</span> |
            <span id="playtime-total-{{ track.pk }}" class="track-duration-total">00:00</span>
        </div>
    </div>

    <!-- track waveform -->
    {% if comment.comment_track_waveform_base.name == "" %}
    {% else %}
        <div class="track-waveform waveform-wrapper">
            <img class="track-waveform-base post-detail-waveform back-image no-filter" draggable="false" onclick="seekTrack(event)" src="{{ comment.comment_track_waveform_base.url }}">
            <div class="waveform-cover-cutter cutter">
                <img class="track-waveform-cover post-detail-waveform" src="{{ comment.comment_track_waveform_cover.url }}" alt="">
            </div>
        </div>
    {% endif %}
</div>