<div class="mixer">
    <div class="channel">
        <div class="channel-wrapper">
            <div class="mute-solo">
                <button class="mute">M</button>
                <button class="solo">S</button>
            </div>
            <div class="panner">
                <div class="pan-slider"></div>
            </div>
            <div class="meter">
                <div class="fader"></div>
            </div>
            <div class="channel-info">
                <span>Guitar</span>
                <span>Testuser</span>
            </div>
        </div>
    </div>
</div>