{% load static %}

<div class="mixer">
    <div class="channel author-track-channel" id="channel-1" data-target-audio="track-{{ post.pk }}-author-audio">
        <div class="channel-wrapper">
            <div class="mute-solo">
                <button class="mute">M</button>
                <button class="solo">S</button>
            </div>
            <div class="panner">
                <div class="pan-slider" draggable="true"></div>
            </div>
            <div class="meter-position-getter"></div>
            <div class="meter">
                <div class="fader" draggable="true"></div>
            </div>
            <div class="fader-value">
                <span>0</span>
            </div>
            <div class="channel-info">
                <span>{{ post.instrument }}</span>
                <span>{{ post.author }}</span>
            </div>
        </div>
    </div>
</div>

<img id="ghost" src="{% static 'img/signout.png' %}" alt="" style="display: none">

<script src="{% static 'js/post-detail/mixer.js' %}"></script>