{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/post-detail.css' %}">
{% endblock links %}

{% block scripts %}
{% endblock scripts %}

{% block content %}

    <div class="container contents">
        <div class="post-detail-contents">

            {% include 'post-detail/master-track.html' %}

            {% include 'post-detail/author-track.html' %}

            {% include 'post-detail/mixed-tracks.html' %}

            <div class="track-header track-collapse">
                <span>Comment Tracks <span class="collapse-icon" onclick="collapseTrack(this, $('.post-comment-tracks'))"><i class="far fa-minus-square"></i></span></span>
            </div>

            <div class="post-comment-tracks">
                <div class="instruments-tabs">
                    <button class="guitar-tab tab-btns tab-clicked">Guitar</button>
                    <button class="bass-tab tab-btns">Bass</button>
                    <button class="drums-tab tab-btns">Drums</button>
                    <button class="keys-tab tab-btns">Keyboard</button>
                    <button class="vocal-tab tab-btns">Vocal</button>
                    <button class="others-tab tab-btns">Others</button>
                </div>

                <div data-instrument="Guitar" class="instrument-comment-track tab-opened">
                    {% if not guitar %}
                        <div class="no-tracks">
                            <span>No Guitar Tracks</span>
                        </div>
                    {% endif %}
                    {% for comment in guitar %}
                        {% include 'post-detail/comment-tracks.html' %}
                    {% endfor %}
                </div>

                <div data-instrument="Bass" class="instrument-comment-track">
                    {% if not bass %}
                        <div class="no-tracks">
                            <span>No Bass Tracks</span>
                        </div>
                    {% endif %}
                    {% for comment in bass %}
                        {% include 'post-detail/comment-tracks.html' %}
                    {% endfor %}
                </div>

                <div data-instrument="Drums" class="instrument-comment-track">
                    {% if not drums %}
                        <div class="no-tracks">
                            <span>No Drums Tracks</span>
                        </div>
                    {% endif %}
                    {% for comment in drums %}
                        {% include 'post-detail/comment-tracks.html' %}
                    {% endfor %}
                </div>

                <div data-instrument="Keyboard" class="instrument-comment-track">
                    {% if not keyboard %}
                        <div class="no-tracks">
                            <span>No Keyboard Tracks</span>
                        </div>
                    {% endif %}
                    {% for comment in keyboard %}
                        {% include 'post-detail/comment-tracks.html' %}
                    {% endfor %}
                </div>

                <div data-instrument="Vocal" class="instrument-comment-track">
                    {% if not vocal %}
                        <div class="no-tracks">
                            <span>No Vocal Tracks</span>
                        </div>
                    {% endif %}
                    {% for comment in vocal %}
                        {% include 'post-detail/comment-tracks.html' %}
                    {% endfor %}
                </div>

                <div data-instrument="Others" class="instrument-comment-track">
                    {% if not others %}
                        <div class="no-tracks">
                            <span>No Other Tracks</span>
                        </div>
                    {% endif %}
                    {% for comment in others %}
                        {% include 'post-detail/comment-tracks.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            var inst = $(".post-track");

            inst.each(function(index, item) {
                var static_dir = "{% static 'img/instruments' %}";
                var pattern = /(.*[/]img[/]instruments)/i;

                var img_url = static_dir.match(pattern)[1] + "/" + $(item).data("instrument") + ".jpg";

                var inst_dir = "url(" + img_url + ")";

                $(item).css("background-image", inst_dir);
            });
        });

        function collapseTrack(self, div) {
            var icon = $(self).find("[data-fa-processed]");

            icon.toggleClass("fa-minus-square fa-plus-square");
            div.toggleClass("collapse")

        }

        $(".tab-btns").on("click", function() {
            showInstrumentTracks($(this).text())
        });

        function showInstrumentTracks (instrument) {
            var tabs = $(".tab-btns");
            var comments = $(".instrument-comment-track");

            tabs.removeClass("tab-clicked");
            comments.removeClass("tab-opened");

            tabs.each(function(index, item) {
                if ($(item).text() === instrument) {
                    $(item).addClass("tab-clicked")
                }
            });

            comments.each(function(index, item) {
                if ($(item).attr("data-instrument") === instrument) {
                    $(item).addClass("tab-opened")
                }
            })

        }
    </script>

    <script src="{% static 'js/profile/comment-waveform.js' %}"></script>


{% endblock content %}