{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/post-detail.css' %}">
{% endblock links %}

{% block scripts %}
{% endblock scripts %}

{% block content %}

    <div class="container contents">
        <div class="post-detail-contents">

            <!-- master track -->
            <div class="post-master-track" id="track-{{ post.pk }}-master" data-pk="{{ post.pk }}" data-type="track">
                <!-- master track audio -->
                {% if post.master_track.name == '' %}
                {% else %}
                    <audio preload="metadata" id="track-{{ post.pk }}-audio-master" class="post-track audio-file" data-target="track-{{ post.pk }}" onplay="addToPlaylist(this)" ontimeupdate="updateAudioInfo(this);updatePlayerProgress(this)" onended="resetWaveform(this)" onloadedmetadata="setTotalDuration(this)">
                        <source src="{{ post.master_track.url }}">
                    </audio>
                {% endif %}
                <!-- master track post image-->
                <div class="track-img">
                    {% if post.post_img.name == '' %}
                        <img class="track-post-img" src="{% static 'img/default-post-img.png' %}" alt="" style="width: 50%;object-fit: contain;text-align: center;">
                    {% else %}
                        <img class="track-post-img" src="{{ post.post_img.url }}" alt="">
                    {% endif %}
                </div>
                <!-- play btn -->

                <!-- post title & author -->
                <div class="master-track-info">
                    <div draggable="false" id="play-btn-{{ post.pk }}" class="master-track-play-btn play-btn" data-target="track-{{ post.pk }}-audio-master" onclick="loadAudio(this);playAudio();updatePlayerPostInfo();"><i class="fas fa-play-circle fa-3x"></i></div>
                    <h1 class="track-title">{{ post.title|truncatechars:30 }}</h1>
                    <a href="{% url 'views:user:user-detail' pk=post.author.pk %}"><p class="track-author">{{ post.author }}</p></a>
                    <!-- track duration -->
                    <div class="playtime">
                        <span id="playtime-current-{{ track.pk }}" class="track-duration-current">- - : - - </span> |
                        <span id="playtime-total-{{ track.pk }}" class="track-duration-total"> - - : - - </span>
                    </div>
                </div>
                <!-- master track waveform-->
                <div class="master-track-waveform">
                    {% if post.master_track_waveform_base.name == "" %}
                        <div class="no-master-track">
                            <p class="line1">No master track</p>
                            <p class="line2">Mix tracks to create master track</p>
                        </div>
                    {% else %}
                        <img class="master-track-waveform-base post-detail-waveform back-image" onclick="seekTrack(event)" src="{{ post.master_track_waveform_base.url }}">
                        <div class="master-waveform-cover-cutter cutter">
                            <img class="master-track-waveform-cover post-detail-waveform" src="{{ post.master_track_waveform_cover.url }}" alt="">
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="author-track-header track-collapse">
                <span>Original Track <span class="collapse-icon" onclick="collapseTrack(this, $('.post-author-track'))"><i class="far fa-minus-square"></i></span></span>
            </div>

            <!-- author track -->
            <div class="post-author-track post-track" data-instrument="{{ post.instrument.first }}" id="track-{{ post.pk }}" data-pk="{{ post.pk }}" data-type="track">

                <audio preload="metadata" id="track-{{ post.pk }}-audio" class="post-track audio-file" data-target="track-{{ post.pk }}" ontimeupdate="updateAudioInfo(this);updatePlayerProgress(this)" onended="resetWaveform(this)" onloadedmetadata="setTotalDuration(this)">
                    <source src="{{ post.author_track.url }}">
                </audio>

                <div class="instrument-img-mask"></div>
                {% if post.author.profile_img.name == "" %}
                    <div class="author-track-profile-img" style="background-image:url({% static 'img/default-profile.png' %})"></div>
                {% else %}
                    <div class="author-track-profile-img" style="background-image:url({{ post.author.profile_img.url }})"></div>
                {% endif %}

                <div class="author-track-info">
                    <div draggable="false" id="play-btn-{{ post.pk }}" class="author-track-play-btn play-btn" data-target="track-{{ post.pk }}-audio" onclick="loadAudio(this);playAudio();updatePlayerPostInfo();"><i class="fas fa-play-circle fa-3x"></i></div>
                    <h1 class="track-title">Original Track</h1>
                    <a href="{% url 'views:user:user-detail' pk=post.author.pk %}"><p class="track-author">by {{ post.author }}</p></a>
                    <!-- track duration -->
                    <div class="playtime">
                        <span id="playtime-current-{{ track.pk }}" class="track-duration-current">- - : - - </span> |
                        <span id="playtime-total-{{ track.pk }}" class="track-duration-total"> - - : - - </span>
                    </div>
                </div>

                <!-- author track waveform -->
                {% if post.author_track_waveform_base.name == "" %}
                {% else %}
                    <div class="author-track-waveform">
                        <img class="author-track-waveform-base post-detail-author-waveform back-image" draggable="false" onclick="seekTrack(event)" src="{{ post.author_track_waveform_base.url }}">
                        <div class="author-waveform-cover-cutter cutter">
                            <img class="author-track-waveform-cover post-detail-author-waveform" src="{{ post.author_track_waveform_cover.url }}" alt="">
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="mixed-track-header track-collapse">
                <span>Mixed Tracks <span class="collapse-icon" onclick="collapseTrack(this, $('.post-mixed-tracks'))"><i class="far fa-minus-square"></i></span></span>
            </div>

            <!-- mixed tracks -->
            <div class="post-mixed-tracks">
                {% for comment in mixed %}
                    <div class="post-mixed-track post-track" data-instrument="{{ comment.instrument }}" id="comment-{{ comment.pk }}" data-pk="{{ comment.pk }}" data-type="track">

                        <audio id="comment-track-{{ comment.pk }}" class="comment-track audio-file" preload="metadata" ontimeupdate="updateAudioInfo(this);updatePlayerProgress(this)" onended="resetWaveform(this)" onloadedmetadata="setTotalDuration(this)">
                            <source src="{{ comment.comment_track.url }}">
                        </audio>

                        <div class="instrument-img-mask"></div>
                        {% if comment.author.profile_img.name == "" %}
                            <div class="mixed-track-profile-img" style="background-image:url({% static 'img/default-profile.png' %})"></div>
                        {% else %}
                            <div class="mixed-track-profile-img" style="background-image:url({{ comment.author.profile_img.url }})"></div>
                        {% endif %}

                        <div class="mixed-track-info">
                            <!-- PLAY BTN -->
                            <div draggable="false" id="comment-play-btn-{{ comment.pk }}" data-target="comment-track-{{ comment.pk }}" class="mixed-track-play-btn play-btn" onclick="loadAudio(this);playAudio();updatePlayerPostInfo();"><i class="fas fa-play-circle fa-3x"></i></div>
                            <h1 class="track-title">{{ comment.instrument }} Track</h1>
                            <a href="{% url 'views:user:user-detail' pk=comment.author.pk %}"><p class="track-author">by {{ comment.author }}</p></a>
                            <!-- track duration -->
                            <div class="playtime">
                                <span id="playtime-current-{{ track.pk }}" class="track-duration-current">- - : - - </span> |
                                <span id="playtime-total-{{ track.pk }}" class="track-duration-total"> - - : - - </span>
                            </div>
                        </div>

                        <!-- mixed track waveform -->
                        {% if comment.comment_track_waveform_base.name == "" %}
                        {% else %}
                            <div class="mixed-track-waveform">
                                <img class="mixed-track-waveform-base post-detail-mixed-waveform back-image" draggable="false" onclick="seekTrack(event)" src="{{ comment.comment_track_waveform_base.url }}">
                                <div class="mixed-waveform-cover-cutter cutter">
                                    <img class="mixed-track-waveform-cover post-detail-mixed-waveform" src="{{ comment.comment_track_waveform_cover.url }}" alt="">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>

    <script>
        $(document).ready(function() {
            var inst = $(".post-track");

            inst.each(function(index, item) {
                var inst_dir = "url({% static 'img/instruments' %}/" + $(item).data("instrument") + ".jpg)";
                $(item).css("background-image", inst_dir);
            });
        });

        function collapseTrack(self, div) {
            var icon = $(self).find("[data-fa-processed]");

            icon.toggleClass("fa-minus-square fa-plus-square");
            div.toggleClass("collapse")

        }
    </script>

    <script src="{% static 'js/profile/comment-waveform.js' %}"></script>


{% endblock content %}